@use 'sass:math';
@use '../abstracts' as *;

.about {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse at bottom, rgba(9, 10, 15) 100%);
}

.stars {
  @include size(1px, 1px);
  background: transparent;
  box-shadow: $shadows-small;
  animation: animateStar 50s linear infinite;

  &:after {
    content: ' ';
    @include position(absolute, 2000px);
    @include size(1px, 1px);
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  @include size(2px, 2px);
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animateStar 100s linear infinite;

  &:after {
    content: ' ';
    @include position(absolute, 2000px);
    @include size(2px, 2px);
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  @include size(3px, 3px);
  background: transparent;
  box-shadow: $shadows-big;
  animation: animateStar 150s linear infinite;
  &:after {
    content: ' ';
    @include position(absolute, 2000px);
    @include size(3px, 3px);
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.title {
  min-height: 100dvh;
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  @include flex-center(row, center, center);
}

.title-wrapper {
  @include position(absolute, 50%, 0, 0, 50%);
  @include size(800px, 400px);
  transform: translate(-50%, -50%);
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
  color: #fff;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  z-index: 10;
  @include size(50px, 50px);
  @include position(absolute, 50%, 0, 0, 50%);
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 38%;
  height: 4px;
  top: 198px;
  background: #fff;
  transform: scaleX(0);

  &.left {
    left: 100px;
    transform-origin: 100% 50%;
    animation:
      lines 1s ease-in-out 0.8s,
      line-left 1s steps(1) 0.8s;
  }

  &.right {
    right: 100px;
    transform-origin: 0% 50%;
    animation:
      lines 1s ease-in-out 0.8s,
      line-right 1s steps(1) 0.8s;
  }
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 150px;
  width: 4px;
  top: 135px;
  background: #fff;
  animation: bracket 0.4s ease-out 1.7s;
  animation-fill-mode: both;

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 25px;
    height: 4px;
    background: #fff;
  }

  &.left {
    left: 50px;

    &:before {
      top: 0;
      left: 0;
      transform-origin: 0% 50%;
      animation: bracket-line 0.2s ease-out 2.1s;
      animation-fill-mode: both;
    }

    &:after {
      bottom: 0;
      left: 0;
      transform-origin: 0% 50%;
      animation: bracket-line 0.2s ease-out 2.1s;
      animation-fill-mode: both;
    }
  }

  &.right {
    right: 50px;

    &:before {
      top: 0;
      right: 0;
      transform-origin: 100% 50%;
      animation: bracket-line 0.2s ease-out 2.1s;
      animation-fill-mode: both;
    }

    &:after {
      bottom: 0;
      right: 0;
      transform-origin: 100% 50%;
      animation: bracket-line 0.2s ease-out 2.1s;
      animation-fill-mode: both;
    }
  }
}

.big {
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
  line-height: 50px;
  text-transform: uppercase;
}

.hide {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 50px;
  left: 0;
  background-color: #121720;
  animation: reveal 0.4s ease-out 1.7s;
  animation-fill-mode: both;

  &.top {
    bottom: 49%;
    transform-origin: 50% 0%;
  }

  &.bottom {
    top: 49%;
    transform-origin: 50% 100%;
  }
}

.small {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  left: 0;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;

  &.top {
    top: 130px;
    animation: small-top 0.5s ease-out 2.2s;
    animation-fill-mode: both;
  }

  &.bottom {
    bottom: 130px;
    animation: small-bottom 0.5s ease-out 2.2s;
    animation-fill-mode: both;
  }
}

.persons {
  display: flex;
  justify-content: space-between;
  @include position(absolute, 50%, 0, 0, 50%);
  transform: translate(-50%, 120%);
  & img {
    @include size(200px, 400px);
  }
}

/* Mobile styles */
@media (max-width: 431px) {
  .about {
    height: 100dvh;
  }

  .bracket,
  .circle {
    display: none;
  }

  .title {
    font-size: 30px; /* Adjust font size for mobile */
    letter-spacing: 5px; /* Adjust letter spacing for mobile */
    margin-top: -30px;
  }

  .title-wrapper {
    @include size(90%, auto); /* Adjust size for mobile */
  }

  .line {
    width: 80%; /* Adjust width for mobile */
    top: 100px;
  }

  .small {
    font-size: 15px; /* Adjust font size for mobile */
    line-height: 20px;

    &.top {
      top: 30px;
    }

    &.bottom {
      top: 100px;
    }
  }

  .big {
    font-size: 15px; /* Adjust font size for mobile */
    line-height: 30px;
    top: 50px;
  }

  .persons {
    flex-direction: column; /* Stack avatars vertically on mobile */
    transform: translate(-20%, -25%); /* Adjust position for mobile */
    margin-top: 15px;
  }

  .persons img {
    @include size(70px, auto); /* Adjust size for mobile */
  }

  .persons img:not(:last-child) {
    margin-bottom: 20px; /* Add spacing between images, except the last one */
  }
}


@media (min-width: 768px) and (max-width: 819px) {
  .persons {
    transform: translate(-80%, 55%); /* Adjust position for tablets */
  }
}

@media (min-width: 820px) and (max-width: 1023px) {
  .persons {
    transform: translate(-70%, 55%); /* Adjust position for larger tablets */
  }
}

@media (min-width: 1024px) and (max-width: 1025px) {
  .persons {
    transform: translate(-60%, 55%); /* Adjust position for iPad Pro and larger screens */
  }
}

