@use '../abstracts' as *;

.flex-center {
  @include flex-center;
}

.wrapper {
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}
.landing {
  background-image: radial-gradient(
      ellipse at bottom,
      rgba(27, 39, 53, 0.9) 0%,
      rgba(9, 10, 15, 0.9) 100%
    ),
    url('../../../src/assets/images/bg-landing.png');
  @include background(bottom center, no-repeat, cover, 100dvh);
  position: relative;
  z-index: -1;
}

.text-white {
  color: map-get($map: $theme-colors, $key: 'text-light');
}

.container {
  display: inline-block;
}

.text-typewriter {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 1s steps(30),
    blink 0.5s step-end infinite alternate;
}

.trailer {
  @include size(30px, 30px);
  border-radius: 50%;
  @include position(fixed);
  z-index: 10000;
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.tools-develop {
  min-height: 100vh;
}

// Tambahkan media query untuk ukuran layar kecil
@media (max-width: 768px) {
  .text-typewriter {
    font-size: 50px; // Sesuaikan ukuran font untuk mobile
    letter-spacing: 5px;
    border-right: 3px solid;
  }

  .container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .trailer {
    @include size(20px, 20px); // Kurangi ukuran trailer untuk mobile
  }

  .persons img {
    width: 80px; // Kurangi ukuran gambar avatar untuk mobile
    height: auto;
  }

  .tools-used-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}