@use 'sass:math';

@function mult_box_shadow($n) {
  $limit: 2000px;
  $value: #{random(math.div($limit, 1px))}px #{random(math.div($limit, 1px))}px
    #fff;
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(math.div($limit, 1px))}px #{random(math.div($limit, 1px))}px #FFF';
  }
  @return unquote($value);
}