@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin position($position, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background(
  $bg-position: center,
  $bg-repeat: no-repeat,
  $bg-size: cover,
  $height: 100vh
) {
  background-position: $bg-position;
  background-repeat: $bg-repeat;
  background-size: $bg-size;
  min-height: $height;
}
