@use 'function' as *;

// color template
$theme-colors: (
  'background': #121720,
  'primary': #807b23,
  'accent': #fff,
  'text-light': #fff,
  'text-dark': #121720,
);

// breakpoint template
$breakpoints: (
  'xs': 320px,
  'base': 480px,
  'sm': 600px,
  'md': 768px,
  'lg': 900px,
  'xl': 1024px,
  '2xl': 1280px,
  'desktop': 1400px,
);


$shadows-small: mult-box-shadow(700);
$shadows-medium: mult-box-shadow(200);
$shadows-big: mult-box-shadow(100);
