// flexbox and grid
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-rows-1 {
  grid-template-rows: repeat(1, min-max(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, min-max(0, 1fr));
}
