@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes animateStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  90%, 100% {
    transform: scale(0);
  }
}
@keyframes lines {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes line-left {
  0% {
    transform-origin: 100% 50%;
  }
  50%, 100% {
    transform-origin: 0% 50%;
  }
}
@keyframes line-right {
  0% {
    transform-origin: 0% 50%;
  }
  50%, 100% {
    transform-origin: 100% 50%;
  }
}
@keyframes bracket {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes bracket-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes reveal {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes small-top {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #121720;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 4px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48.83px;
}

h3 {
  font-size: 39.06px;
}

h4 {
  font-size: 31.25px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.text-xs {
  font-size: 12.8px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, min-max(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, min-max(0, 1fr));
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.landing {
  background-image: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.9) 0%, rgba(9, 10, 15, 0.9) 100%), url("../../../src/assets/images/bg-landing.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  position: relative;
  z-index: -1;
}

.text-white {
  color: #fff;
}

.container {
  display: inline-block;
}

.text-typewriter {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(30), blink 0.5s step-end infinite alternate;
}

.trailer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.tools-develop {
  min-height: 100vh;
}

.about {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse at bottom, rgb(9, 10, 15) 100%);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 934px 948px #fff, 1788px 1398px #FFF, 1505px 569px #FFF, 355px 1437px #FFF, 711px 858px #FFF, 1231px 62px #FFF, 1509px 1470px #FFF, 547px 1560px #FFF, 1653px 391px #FFF, 1847px 1000px #FFF, 490px 774px #FFF, 984px 84px #FFF, 1036px 886px #FFF, 1374px 847px #FFF, 1104px 590px #FFF, 846px 570px #FFF, 561px 53px #FFF, 948px 923px #FFF, 745px 1156px #FFF, 1126px 734px #FFF, 1570px 1955px #FFF, 1684px 1958px #FFF, 1628px 1738px #FFF, 1747px 1101px #FFF, 94px 1024px #FFF, 1194px 1381px #FFF, 1935px 1632px #FFF, 1315px 1551px #FFF, 550px 412px #FFF, 1529px 1347px #FFF, 231px 430px #FFF, 1706px 1243px #FFF, 711px 1486px #FFF, 574px 1587px #FFF, 827px 178px #FFF, 1346px 1044px #FFF, 1802px 1320px #FFF, 131px 142px #FFF, 473px 1427px #FFF, 1415px 571px #FFF, 1101px 240px #FFF, 1438px 603px #FFF, 1152px 815px #FFF, 670px 1483px #FFF, 903px 1181px #FFF, 1234px 968px #FFF, 1124px 453px #FFF, 1303px 72px #FFF, 1773px 294px #FFF, 118px 1215px #FFF, 1792px 1888px #FFF, 767px 1606px #FFF, 798px 1688px #FFF, 219px 1275px #FFF, 1373px 15px #FFF, 772px 1084px #FFF, 1695px 672px #FFF, 1960px 731px #FFF, 451px 1503px #FFF, 248px 45px #FFF, 1725px 1638px #FFF, 450px 591px #FFF, 1978px 447px #FFF, 459px 155px #FFF, 327px 1498px #FFF, 1291px 1665px #FFF, 854px 1810px #FFF, 1645px 1312px #FFF, 516px 1376px #FFF, 1989px 495px #FFF, 1252px 249px #FFF, 1709px 1821px #FFF, 1843px 1286px #FFF, 614px 760px #FFF, 241px 1716px #FFF, 53px 102px #FFF, 204px 90px #FFF, 230px 529px #FFF, 1303px 628px #FFF, 629px 1821px #FFF, 1493px 1750px #FFF, 1266px 107px #FFF, 1547px 1399px #FFF, 806px 1004px #FFF, 1673px 1805px #FFF, 1458px 494px #FFF, 77px 662px #FFF, 873px 876px #FFF, 204px 461px #FFF, 435px 571px #FFF, 156px 729px #FFF, 1472px 574px #FFF, 611px 1629px #FFF, 919px 488px #FFF, 1412px 973px #FFF, 810px 717px #FFF, 1253px 1935px #FFF, 224px 52px #FFF, 1175px 1890px #FFF, 1926px 1637px #FFF, 1004px 1281px #FFF, 1283px 740px #FFF, 734px 278px #FFF, 637px 1067px #FFF, 164px 905px #FFF, 1381px 479px #FFF, 1184px 1149px #FFF, 732px 1633px #FFF, 1852px 2px #FFF, 1399px 1957px #FFF, 548px 828px #FFF, 1495px 234px #FFF, 115px 1764px #FFF, 493px 1737px #FFF, 418px 1812px #FFF, 209px 1212px #FFF, 1196px 1173px #FFF, 544px 15px #FFF, 299px 592px #FFF, 1979px 601px #FFF, 283px 1283px #FFF, 1056px 695px #FFF, 1091px 1643px #FFF, 628px 1361px #FFF, 1250px 1463px #FFF, 310px 1027px #FFF, 1724px 1846px #FFF, 1350px 1004px #FFF, 1300px 1351px #FFF, 1364px 1486px #FFF, 1674px 1427px #FFF, 120px 1083px #FFF, 698px 1046px #FFF, 1433px 237px #FFF, 1359px 491px #FFF, 100px 960px #FFF, 1667px 1499px #FFF, 650px 585px #FFF, 258px 206px #FFF, 150px 665px #FFF, 874px 1246px #FFF, 1741px 1435px #FFF, 86px 1562px #FFF, 1028px 236px #FFF, 53px 1895px #FFF, 1430px 1829px #FFF, 1028px 799px #FFF, 1501px 300px #FFF, 1824px 1545px #FFF, 1521px 339px #FFF, 815px 1943px #FFF, 1442px 127px #FFF, 548px 398px #FFF, 945px 823px #FFF, 1736px 1449px #FFF, 804px 1793px #FFF, 1990px 21px #FFF, 304px 1278px #FFF, 671px 568px #FFF, 741px 1172px #FFF, 502px 1858px #FFF, 1132px 262px #FFF, 562px 1198px #FFF, 1717px 184px #FFF, 1813px 346px #FFF, 752px 1209px #FFF, 1593px 1819px #FFF, 1696px 1102px #FFF, 985px 1260px #FFF, 1804px 1973px #FFF, 30px 937px #FFF, 1934px 212px #FFF, 1320px 1324px #FFF, 1831px 1952px #FFF, 519px 1277px #FFF, 512px 1626px #FFF, 1794px 239px #FFF, 865px 1602px #FFF, 1298px 1359px #FFF, 516px 1343px #FFF, 469px 942px #FFF, 1355px 1042px #FFF, 825px 166px #FFF, 1231px 20px #FFF, 295px 1421px #FFF, 322px 1261px #FFF, 1415px 290px #FFF, 1963px 1504px #FFF, 851px 1612px #FFF, 341px 1487px #FFF, 324px 1047px #FFF, 976px 1054px #FFF, 734px 6px #FFF, 637px 1889px #FFF, 1378px 469px #FFF, 1819px 953px #FFF, 546px 1131px #FFF, 1321px 421px #FFF, 1307px 1737px #FFF, 1257px 623px #FFF, 1882px 462px #FFF, 318px 182px #FFF, 728px 586px #FFF, 1014px 1153px #FFF, 1489px 955px #FFF, 1233px 546px #FFF, 157px 758px #FFF, 1027px 215px #FFF, 1860px 1930px #FFF, 1071px 1071px #FFF, 88px 1725px #FFF, 1295px 753px #FFF, 203px 532px #FFF, 314px 1235px #FFF, 881px 394px #FFF, 1658px 1864px #FFF, 1437px 364px #FFF, 832px 1225px #FFF, 815px 338px #FFF, 1699px 567px #FFF, 944px 989px #FFF, 952px 609px #FFF, 747px 41px #FFF, 1832px 700px #FFF, 1689px 1463px #FFF, 469px 32px #FFF, 39px 1182px #FFF, 953px 1984px #FFF, 332px 768px #FFF, 1891px 1230px #FFF, 760px 1644px #FFF, 1615px 249px #FFF, 369px 1813px #FFF, 871px 1208px #FFF, 568px 59px #FFF, 1177px 422px #FFF, 1172px 1643px #FFF, 1827px 908px #FFF, 227px 1543px #FFF, 1781px 533px #FFF, 1543px 1497px #FFF, 1081px 304px #FFF, 771px 1156px #FFF, 27px 1985px #FFF, 1130px 1305px #FFF, 146px 1401px #FFF, 357px 916px #FFF, 1234px 845px #FFF, 842px 1763px #FFF, 720px 632px #FFF, 1140px 289px #FFF, 1417px 458px #FFF, 1819px 375px #FFF, 1118px 1264px #FFF, 654px 1272px #FFF, 634px 155px #FFF, 498px 544px #FFF, 578px 1672px #FFF, 222px 1367px #FFF, 85px 641px #FFF, 157px 1489px #FFF, 212px 697px #FFF, 601px 1408px #FFF, 1371px 1822px #FFF, 1379px 1515px #FFF, 319px 1474px #FFF, 1847px 1367px #FFF, 1263px 1697px #FFF, 1483px 1041px #FFF, 1661px 1206px #FFF, 1594px 859px #FFF, 164px 1518px #FFF, 1195px 454px #FFF, 1248px 575px #FFF, 1270px 245px #FFF, 199px 384px #FFF, 104px 618px #FFF, 813px 1477px #FFF, 1363px 1131px #FFF, 835px 1579px #FFF, 1103px 1728px #FFF, 450px 75px #FFF, 1057px 1942px #FFF, 1477px 1656px #FFF, 3px 1040px #FFF, 1579px 1272px #FFF, 968px 1533px #FFF, 1019px 22px #FFF, 1400px 401px #FFF, 529px 1122px #FFF, 255px 121px #FFF, 1393px 1071px #FFF, 827px 952px #FFF, 1899px 250px #FFF, 834px 1998px #FFF, 1794px 1732px #FFF, 313px 718px #FFF, 623px 1288px #FFF, 924px 1565px #FFF, 17px 1279px #FFF, 485px 610px #FFF, 1158px 1096px #FFF, 1065px 1870px #FFF, 1419px 718px #FFF, 72px 749px #FFF, 1195px 994px #FFF, 1356px 858px #FFF, 1865px 1673px #FFF, 1546px 1733px #FFF, 1340px 1081px #FFF, 468px 1677px #FFF, 1634px 378px #FFF, 521px 396px #FFF, 1570px 952px #FFF, 708px 1873px #FFF, 1185px 344px #FFF, 1934px 1130px #FFF, 285px 1531px #FFF, 1947px 963px #FFF, 73px 1314px #FFF, 1387px 1989px #FFF, 874px 1217px #FFF, 1151px 107px #FFF, 1900px 921px #FFF, 1188px 1716px #FFF, 1784px 1221px #FFF, 1167px 17px #FFF, 933px 194px #FFF, 1719px 199px #FFF, 1250px 1908px #FFF, 1905px 781px #FFF, 18px 286px #FFF, 17px 1817px #FFF, 79px 1856px #FFF, 1580px 1209px #FFF, 885px 1017px #FFF, 419px 54px #FFF, 1163px 1075px #FFF, 1670px 1958px #FFF, 568px 1630px #FFF, 804px 487px #FFF, 1299px 647px #FFF, 100px 812px #FFF, 320px 704px #FFF, 685px 1294px #FFF, 1124px 1306px #FFF, 754px 262px #FFF, 1082px 953px #FFF, 23px 1255px #FFF, 1801px 70px #FFF, 1793px 1729px #FFF, 1732px 1638px #FFF, 1028px 223px #FFF, 315px 1098px #FFF, 1731px 170px #FFF, 1335px 1159px #FFF, 1075px 556px #FFF, 1003px 634px #FFF, 435px 320px #FFF, 344px 1217px #FFF, 1403px 1090px #FFF, 377px 1073px #FFF, 1548px 584px #FFF, 1770px 637px #FFF, 1296px 1414px #FFF, 1684px 714px #FFF, 877px 113px #FFF, 493px 1452px #FFF, 999px 445px #FFF, 1812px 1583px #FFF, 1318px 1838px #FFF, 1824px 1776px #FFF, 909px 1338px #FFF, 192px 1218px #FFF, 1848px 1522px #FFF, 333px 477px #FFF, 1057px 573px #FFF, 1747px 1177px #FFF, 267px 1502px #FFF, 392px 794px #FFF, 1632px 146px #FFF, 1328px 440px #FFF, 159px 463px #FFF, 1278px 237px #FFF, 213px 367px #FFF, 1748px 338px #FFF, 1577px 260px #FFF, 858px 1814px #FFF, 121px 145px #FFF, 1757px 978px #FFF, 1939px 740px #FFF, 1915px 510px #FFF, 425px 1567px #FFF, 916px 1355px #FFF, 323px 74px #FFF, 1619px 1437px #FFF, 828px 690px #FFF, 813px 209px #FFF, 1684px 1460px #FFF, 497px 1176px #FFF, 652px 418px #FFF, 1556px 965px #FFF, 418px 718px #FFF, 1832px 1658px #FFF, 1668px 807px #FFF, 1747px 670px #FFF, 1024px 1491px #FFF, 651px 1608px #FFF, 666px 720px #FFF, 1459px 878px #FFF, 537px 42px #FFF, 1982px 347px #FFF, 1633px 487px #FFF, 808px 37px #FFF, 498px 707px #FFF, 1875px 407px #FFF, 588px 842px #FFF, 758px 155px #FFF, 1491px 582px #FFF, 1345px 1329px #FFF, 138px 494px #FFF, 12px 286px #FFF, 1520px 1790px #FFF, 952px 1564px #FFF, 1859px 1047px #FFF, 1874px 392px #FFF, 579px 1465px #FFF, 598px 1811px #FFF, 1374px 1038px #FFF, 260px 1753px #FFF, 843px 967px #FFF, 1905px 85px #FFF, 592px 699px #FFF, 555px 410px #FFF, 737px 470px #FFF, 1987px 825px #FFF, 1174px 1424px #FFF, 121px 147px #FFF, 1293px 1219px #FFF, 1518px 800px #FFF, 278px 115px #FFF, 109px 1658px #FFF, 1927px 941px #FFF, 1643px 1035px #FFF, 356px 647px #FFF, 1358px 472px #FFF, 649px 701px #FFF, 959px 207px #FFF, 1647px 1809px #FFF, 30px 1317px #FFF, 322px 1737px #FFF, 1067px 1209px #FFF, 1860px 369px #FFF, 1118px 1385px #FFF, 1887px 794px #FFF, 1766px 944px #FFF, 328px 1902px #FFF, 906px 664px #FFF, 913px 213px #FFF, 1846px 872px #FFF, 1329px 928px #FFF, 376px 453px #FFF, 32px 99px #FFF, 1448px 490px #FFF, 529px 529px #FFF, 959px 107px #FFF, 1790px 1778px #FFF, 605px 1215px #FFF, 20px 1118px #FFF, 592px 62px #FFF, 1477px 1359px #FFF, 441px 881px #FFF, 980px 681px #FFF, 589px 490px #FFF, 1820px 1360px #FFF, 1946px 1944px #FFF, 755px 272px #FFF, 1784px 754px #FFF, 63px 831px #FFF, 1714px 181px #FFF, 1629px 176px #FFF, 702px 1484px #FFF, 1946px 955px #FFF, 1493px 1289px #FFF, 1963px 236px #FFF, 1333px 1985px #FFF, 1487px 1476px #FFF, 1153px 1846px #FFF, 1006px 1880px #FFF, 937px 680px #FFF, 784px 664px #FFF, 94px 936px #FFF, 1740px 1170px #FFF, 1967px 1569px #FFF, 594px 790px #FFF, 1344px 1589px #FFF, 72px 501px #FFF, 1334px 892px #FFF, 1144px 1460px #FFF, 1332px 687px #FFF, 542px 1605px #FFF, 1143px 1795px #FFF, 751px 1688px #FFF, 280px 1673px #FFF, 839px 352px #FFF, 246px 1087px #FFF, 377px 1715px #FFF, 1826px 912px #FFF, 504px 957px #FFF, 80px 1820px #FFF, 733px 1191px #FFF, 1783px 956px #FFF, 1654px 1032px #FFF, 653px 1627px #FFF, 986px 178px #FFF, 816px 695px #FFF, 699px 759px #FFF, 1648px 607px #FFF, 581px 559px #FFF, 1924px 1020px #FFF, 1818px 351px #FFF, 850px 1111px #FFF, 1410px 518px #FFF, 1583px 70px #FFF, 881px 716px #FFF, 1485px 838px #FFF, 1478px 340px #FFF, 311px 720px #FFF, 1419px 861px #FFF, 67px 39px #FFF, 629px 1159px #FFF, 748px 1727px #FFF, 1716px 377px #FFF, 1109px 347px #FFF, 917px 1638px #FFF, 328px 1105px #FFF, 787px 527px #FFF, 1193px 429px #FFF, 958px 695px #FFF, 747px 1171px #FFF, 1329px 1720px #FFF, 1760px 1199px #FFF, 110px 1959px #FFF, 518px 136px #FFF, 1822px 376px #FFF, 866px 1052px #FFF, 1619px 691px #FFF, 1939px 1530px #FFF, 799px 1228px #FFF, 861px 653px #FFF, 1921px 452px #FFF, 467px 1245px #FFF, 188px 1968px #FFF, 32px 1349px #FFF, 876px 954px #FFF, 684px 1895px #FFF, 568px 460px #FFF, 779px 1543px #FFF, 488px 273px #FFF, 239px 1838px #FFF, 1487px 1497px #FFF, 1037px 1966px #FFF, 1581px 1061px #FFF, 1563px 1109px #FFF, 865px 309px #FFF, 1444px 1438px #FFF, 587px 481px #FFF, 583px 250px #FFF, 804px 1902px #FFF, 486px 705px #FFF, 1436px 1314px #FFF, 277px 323px #FFF, 47px 504px #FFF, 1525px 824px #FFF, 134px 356px #FFF, 1505px 1391px #FFF, 301px 1722px #FFF, 1512px 1385px #FFF, 1116px 1688px #FFF, 1258px 976px #FFF, 537px 1278px #FFF, 1367px 830px #FFF, 1903px 1555px #FFF, 803px 684px #FFF, 1501px 1208px #FFF, 63px 1226px #FFF, 627px 551px #FFF, 1752px 823px #FFF, 1555px 1479px #FFF, 1360px 1679px #FFF, 787px 1091px #FFF, 256px 1597px #FFF, 745px 665px #FFF, 385px 1232px #FFF, 1505px 4px #FFF, 86px 1625px #FFF, 1066px 1859px #FFF, 1024px 536px #FFF, 645px 1231px #FFF, 912px 494px #FFF, 656px 1250px #FFF, 1195px 995px #FFF, 1919px 475px #FFF, 479px 930px #FFF, 338px 252px #FFF, 1312px 1398px #FFF, 1875px 1312px #FFF, 372px 1955px #FFF, 54px 1172px #FFF, 882px 887px #FFF, 1603px 1607px #FFF, 519px 189px #FFF, 673px 241px #FFF, 1713px 1720px #FFF, 1167px 1273px #FFF, 1205px 1476px #FFF, 902px 1697px #FFF, 934px 1538px #FFF, 1895px 732px #FFF, 242px 95px #FFF, 1308px 947px #FFF, 1903px 1669px #FFF, 1092px 81px #FFF, 746px 952px #FFF, 1443px 1386px #FFF, 1279px 467px #FFF, 940px 1889px #FFF, 705px 671px #FFF, 394px 629px #FFF, 585px 670px #FFF, 546px 150px #FFF, 1253px 1027px #FFF, 371px 2px #FFF, 1086px 1833px #FFF, 1205px 1408px #FFF, 1342px 1316px #FFF, 914px 1714px #FFF, 1312px 604px #FFF, 1284px 728px #FFF, 1011px 1253px #FFF, 397px 327px #FFF, 486px 124px #FFF, 299px 1762px #FFF, 1510px 320px #FFF, 1525px 1632px #FFF, 747px 1027px #FFF, 1620px 483px #FFF, 838px 238px #FFF, 1680px 1148px #FFF, 1847px 1899px #FFF, 878px 1993px #FFF, 1519px 1457px #FFF, 764px 1973px #FFF, 570px 1669px #FFF, 201px 122px #FFF, 1121px 1185px #FFF, 726px 907px #FFF, 1962px 31px #FFF, 705px 347px #FFF, 37px 1071px #FFF, 850px 737px #FFF, 570px 457px #FFF, 216px 1414px #FFF, 1538px 725px #FFF, 720px 1372px #FFF, 990px 370px #FFF, 1040px 50px #FFF, 1921px 591px #FFF, 288px 991px #FFF, 1976px 1623px #FFF, 1441px 272px #FFF, 1187px 1947px #FFF, 1275px 346px #FFF, 1277px 745px #FFF, 282px 1818px #FFF, 916px 487px #FFF, 1119px 1878px #FFF, 71px 1039px #FFF, 1984px 1126px #FFF, 203px 820px #FFF, 905px 569px #FFF, 1754px 1825px #FFF, 725px 1405px #FFF, 619px 1520px #FFF, 1274px 208px #FFF, 1976px 1855px #FFF, 129px 1376px #FFF, 631px 1493px #FFF, 1027px 1380px #FFF, 1458px 777px #FFF, 1453px 1036px #FFF, 764px 229px #FFF, 917px 1439px #FFF, 639px 1398px #FFF, 1747px 1889px #FFF, 541px 193px #FFF, 270px 1404px #FFF, 1677px 1745px #FFF, 1092px 1545px #FFF, 53px 1527px #FFF;
  animation: animateStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 934px 948px #fff, 1788px 1398px #FFF, 1505px 569px #FFF, 355px 1437px #FFF, 711px 858px #FFF, 1231px 62px #FFF, 1509px 1470px #FFF, 547px 1560px #FFF, 1653px 391px #FFF, 1847px 1000px #FFF, 490px 774px #FFF, 984px 84px #FFF, 1036px 886px #FFF, 1374px 847px #FFF, 1104px 590px #FFF, 846px 570px #FFF, 561px 53px #FFF, 948px 923px #FFF, 745px 1156px #FFF, 1126px 734px #FFF, 1570px 1955px #FFF, 1684px 1958px #FFF, 1628px 1738px #FFF, 1747px 1101px #FFF, 94px 1024px #FFF, 1194px 1381px #FFF, 1935px 1632px #FFF, 1315px 1551px #FFF, 550px 412px #FFF, 1529px 1347px #FFF, 231px 430px #FFF, 1706px 1243px #FFF, 711px 1486px #FFF, 574px 1587px #FFF, 827px 178px #FFF, 1346px 1044px #FFF, 1802px 1320px #FFF, 131px 142px #FFF, 473px 1427px #FFF, 1415px 571px #FFF, 1101px 240px #FFF, 1438px 603px #FFF, 1152px 815px #FFF, 670px 1483px #FFF, 903px 1181px #FFF, 1234px 968px #FFF, 1124px 453px #FFF, 1303px 72px #FFF, 1773px 294px #FFF, 118px 1215px #FFF, 1792px 1888px #FFF, 767px 1606px #FFF, 798px 1688px #FFF, 219px 1275px #FFF, 1373px 15px #FFF, 772px 1084px #FFF, 1695px 672px #FFF, 1960px 731px #FFF, 451px 1503px #FFF, 248px 45px #FFF, 1725px 1638px #FFF, 450px 591px #FFF, 1978px 447px #FFF, 459px 155px #FFF, 327px 1498px #FFF, 1291px 1665px #FFF, 854px 1810px #FFF, 1645px 1312px #FFF, 516px 1376px #FFF, 1989px 495px #FFF, 1252px 249px #FFF, 1709px 1821px #FFF, 1843px 1286px #FFF, 614px 760px #FFF, 241px 1716px #FFF, 53px 102px #FFF, 204px 90px #FFF, 230px 529px #FFF, 1303px 628px #FFF, 629px 1821px #FFF, 1493px 1750px #FFF, 1266px 107px #FFF, 1547px 1399px #FFF, 806px 1004px #FFF, 1673px 1805px #FFF, 1458px 494px #FFF, 77px 662px #FFF, 873px 876px #FFF, 204px 461px #FFF, 435px 571px #FFF, 156px 729px #FFF, 1472px 574px #FFF, 611px 1629px #FFF, 919px 488px #FFF, 1412px 973px #FFF, 810px 717px #FFF, 1253px 1935px #FFF, 224px 52px #FFF, 1175px 1890px #FFF, 1926px 1637px #FFF, 1004px 1281px #FFF, 1283px 740px #FFF, 734px 278px #FFF, 637px 1067px #FFF, 164px 905px #FFF, 1381px 479px #FFF, 1184px 1149px #FFF, 732px 1633px #FFF, 1852px 2px #FFF, 1399px 1957px #FFF, 548px 828px #FFF, 1495px 234px #FFF, 115px 1764px #FFF, 493px 1737px #FFF, 418px 1812px #FFF, 209px 1212px #FFF, 1196px 1173px #FFF, 544px 15px #FFF, 299px 592px #FFF, 1979px 601px #FFF, 283px 1283px #FFF, 1056px 695px #FFF, 1091px 1643px #FFF, 628px 1361px #FFF, 1250px 1463px #FFF, 310px 1027px #FFF, 1724px 1846px #FFF, 1350px 1004px #FFF, 1300px 1351px #FFF, 1364px 1486px #FFF, 1674px 1427px #FFF, 120px 1083px #FFF, 698px 1046px #FFF, 1433px 237px #FFF, 1359px 491px #FFF, 100px 960px #FFF, 1667px 1499px #FFF, 650px 585px #FFF, 258px 206px #FFF, 150px 665px #FFF, 874px 1246px #FFF, 1741px 1435px #FFF, 86px 1562px #FFF, 1028px 236px #FFF, 53px 1895px #FFF, 1430px 1829px #FFF, 1028px 799px #FFF, 1501px 300px #FFF, 1824px 1545px #FFF, 1521px 339px #FFF, 815px 1943px #FFF, 1442px 127px #FFF, 548px 398px #FFF, 945px 823px #FFF, 1736px 1449px #FFF, 804px 1793px #FFF, 1990px 21px #FFF, 304px 1278px #FFF, 671px 568px #FFF, 741px 1172px #FFF, 502px 1858px #FFF, 1132px 262px #FFF, 562px 1198px #FFF, 1717px 184px #FFF, 1813px 346px #FFF, 752px 1209px #FFF, 1593px 1819px #FFF, 1696px 1102px #FFF, 985px 1260px #FFF, 1804px 1973px #FFF, 30px 937px #FFF, 1934px 212px #FFF, 1320px 1324px #FFF, 1831px 1952px #FFF, 519px 1277px #FFF, 512px 1626px #FFF, 1794px 239px #FFF, 865px 1602px #FFF, 1298px 1359px #FFF, 516px 1343px #FFF, 469px 942px #FFF, 1355px 1042px #FFF, 825px 166px #FFF, 1231px 20px #FFF, 295px 1421px #FFF, 322px 1261px #FFF, 1415px 290px #FFF, 1963px 1504px #FFF, 851px 1612px #FFF, 341px 1487px #FFF, 324px 1047px #FFF, 976px 1054px #FFF, 734px 6px #FFF, 637px 1889px #FFF, 1378px 469px #FFF, 1819px 953px #FFF, 546px 1131px #FFF, 1321px 421px #FFF, 1307px 1737px #FFF, 1257px 623px #FFF, 1882px 462px #FFF, 318px 182px #FFF, 728px 586px #FFF, 1014px 1153px #FFF, 1489px 955px #FFF, 1233px 546px #FFF, 157px 758px #FFF, 1027px 215px #FFF, 1860px 1930px #FFF, 1071px 1071px #FFF, 88px 1725px #FFF, 1295px 753px #FFF, 203px 532px #FFF, 314px 1235px #FFF, 881px 394px #FFF, 1658px 1864px #FFF, 1437px 364px #FFF, 832px 1225px #FFF, 815px 338px #FFF, 1699px 567px #FFF, 944px 989px #FFF, 952px 609px #FFF, 747px 41px #FFF, 1832px 700px #FFF, 1689px 1463px #FFF, 469px 32px #FFF, 39px 1182px #FFF, 953px 1984px #FFF, 332px 768px #FFF, 1891px 1230px #FFF, 760px 1644px #FFF, 1615px 249px #FFF, 369px 1813px #FFF, 871px 1208px #FFF, 568px 59px #FFF, 1177px 422px #FFF, 1172px 1643px #FFF, 1827px 908px #FFF, 227px 1543px #FFF, 1781px 533px #FFF, 1543px 1497px #FFF, 1081px 304px #FFF, 771px 1156px #FFF, 27px 1985px #FFF, 1130px 1305px #FFF, 146px 1401px #FFF, 357px 916px #FFF, 1234px 845px #FFF, 842px 1763px #FFF, 720px 632px #FFF, 1140px 289px #FFF, 1417px 458px #FFF, 1819px 375px #FFF, 1118px 1264px #FFF, 654px 1272px #FFF, 634px 155px #FFF, 498px 544px #FFF, 578px 1672px #FFF, 222px 1367px #FFF, 85px 641px #FFF, 157px 1489px #FFF, 212px 697px #FFF, 601px 1408px #FFF, 1371px 1822px #FFF, 1379px 1515px #FFF, 319px 1474px #FFF, 1847px 1367px #FFF, 1263px 1697px #FFF, 1483px 1041px #FFF, 1661px 1206px #FFF, 1594px 859px #FFF, 164px 1518px #FFF, 1195px 454px #FFF, 1248px 575px #FFF, 1270px 245px #FFF, 199px 384px #FFF, 104px 618px #FFF, 813px 1477px #FFF, 1363px 1131px #FFF, 835px 1579px #FFF, 1103px 1728px #FFF, 450px 75px #FFF, 1057px 1942px #FFF, 1477px 1656px #FFF, 3px 1040px #FFF, 1579px 1272px #FFF, 968px 1533px #FFF, 1019px 22px #FFF, 1400px 401px #FFF, 529px 1122px #FFF, 255px 121px #FFF, 1393px 1071px #FFF, 827px 952px #FFF, 1899px 250px #FFF, 834px 1998px #FFF, 1794px 1732px #FFF, 313px 718px #FFF, 623px 1288px #FFF, 924px 1565px #FFF, 17px 1279px #FFF, 485px 610px #FFF, 1158px 1096px #FFF, 1065px 1870px #FFF, 1419px 718px #FFF, 72px 749px #FFF, 1195px 994px #FFF, 1356px 858px #FFF, 1865px 1673px #FFF, 1546px 1733px #FFF, 1340px 1081px #FFF, 468px 1677px #FFF, 1634px 378px #FFF, 521px 396px #FFF, 1570px 952px #FFF, 708px 1873px #FFF, 1185px 344px #FFF, 1934px 1130px #FFF, 285px 1531px #FFF, 1947px 963px #FFF, 73px 1314px #FFF, 1387px 1989px #FFF, 874px 1217px #FFF, 1151px 107px #FFF, 1900px 921px #FFF, 1188px 1716px #FFF, 1784px 1221px #FFF, 1167px 17px #FFF, 933px 194px #FFF, 1719px 199px #FFF, 1250px 1908px #FFF, 1905px 781px #FFF, 18px 286px #FFF, 17px 1817px #FFF, 79px 1856px #FFF, 1580px 1209px #FFF, 885px 1017px #FFF, 419px 54px #FFF, 1163px 1075px #FFF, 1670px 1958px #FFF, 568px 1630px #FFF, 804px 487px #FFF, 1299px 647px #FFF, 100px 812px #FFF, 320px 704px #FFF, 685px 1294px #FFF, 1124px 1306px #FFF, 754px 262px #FFF, 1082px 953px #FFF, 23px 1255px #FFF, 1801px 70px #FFF, 1793px 1729px #FFF, 1732px 1638px #FFF, 1028px 223px #FFF, 315px 1098px #FFF, 1731px 170px #FFF, 1335px 1159px #FFF, 1075px 556px #FFF, 1003px 634px #FFF, 435px 320px #FFF, 344px 1217px #FFF, 1403px 1090px #FFF, 377px 1073px #FFF, 1548px 584px #FFF, 1770px 637px #FFF, 1296px 1414px #FFF, 1684px 714px #FFF, 877px 113px #FFF, 493px 1452px #FFF, 999px 445px #FFF, 1812px 1583px #FFF, 1318px 1838px #FFF, 1824px 1776px #FFF, 909px 1338px #FFF, 192px 1218px #FFF, 1848px 1522px #FFF, 333px 477px #FFF, 1057px 573px #FFF, 1747px 1177px #FFF, 267px 1502px #FFF, 392px 794px #FFF, 1632px 146px #FFF, 1328px 440px #FFF, 159px 463px #FFF, 1278px 237px #FFF, 213px 367px #FFF, 1748px 338px #FFF, 1577px 260px #FFF, 858px 1814px #FFF, 121px 145px #FFF, 1757px 978px #FFF, 1939px 740px #FFF, 1915px 510px #FFF, 425px 1567px #FFF, 916px 1355px #FFF, 323px 74px #FFF, 1619px 1437px #FFF, 828px 690px #FFF, 813px 209px #FFF, 1684px 1460px #FFF, 497px 1176px #FFF, 652px 418px #FFF, 1556px 965px #FFF, 418px 718px #FFF, 1832px 1658px #FFF, 1668px 807px #FFF, 1747px 670px #FFF, 1024px 1491px #FFF, 651px 1608px #FFF, 666px 720px #FFF, 1459px 878px #FFF, 537px 42px #FFF, 1982px 347px #FFF, 1633px 487px #FFF, 808px 37px #FFF, 498px 707px #FFF, 1875px 407px #FFF, 588px 842px #FFF, 758px 155px #FFF, 1491px 582px #FFF, 1345px 1329px #FFF, 138px 494px #FFF, 12px 286px #FFF, 1520px 1790px #FFF, 952px 1564px #FFF, 1859px 1047px #FFF, 1874px 392px #FFF, 579px 1465px #FFF, 598px 1811px #FFF, 1374px 1038px #FFF, 260px 1753px #FFF, 843px 967px #FFF, 1905px 85px #FFF, 592px 699px #FFF, 555px 410px #FFF, 737px 470px #FFF, 1987px 825px #FFF, 1174px 1424px #FFF, 121px 147px #FFF, 1293px 1219px #FFF, 1518px 800px #FFF, 278px 115px #FFF, 109px 1658px #FFF, 1927px 941px #FFF, 1643px 1035px #FFF, 356px 647px #FFF, 1358px 472px #FFF, 649px 701px #FFF, 959px 207px #FFF, 1647px 1809px #FFF, 30px 1317px #FFF, 322px 1737px #FFF, 1067px 1209px #FFF, 1860px 369px #FFF, 1118px 1385px #FFF, 1887px 794px #FFF, 1766px 944px #FFF, 328px 1902px #FFF, 906px 664px #FFF, 913px 213px #FFF, 1846px 872px #FFF, 1329px 928px #FFF, 376px 453px #FFF, 32px 99px #FFF, 1448px 490px #FFF, 529px 529px #FFF, 959px 107px #FFF, 1790px 1778px #FFF, 605px 1215px #FFF, 20px 1118px #FFF, 592px 62px #FFF, 1477px 1359px #FFF, 441px 881px #FFF, 980px 681px #FFF, 589px 490px #FFF, 1820px 1360px #FFF, 1946px 1944px #FFF, 755px 272px #FFF, 1784px 754px #FFF, 63px 831px #FFF, 1714px 181px #FFF, 1629px 176px #FFF, 702px 1484px #FFF, 1946px 955px #FFF, 1493px 1289px #FFF, 1963px 236px #FFF, 1333px 1985px #FFF, 1487px 1476px #FFF, 1153px 1846px #FFF, 1006px 1880px #FFF, 937px 680px #FFF, 784px 664px #FFF, 94px 936px #FFF, 1740px 1170px #FFF, 1967px 1569px #FFF, 594px 790px #FFF, 1344px 1589px #FFF, 72px 501px #FFF, 1334px 892px #FFF, 1144px 1460px #FFF, 1332px 687px #FFF, 542px 1605px #FFF, 1143px 1795px #FFF, 751px 1688px #FFF, 280px 1673px #FFF, 839px 352px #FFF, 246px 1087px #FFF, 377px 1715px #FFF, 1826px 912px #FFF, 504px 957px #FFF, 80px 1820px #FFF, 733px 1191px #FFF, 1783px 956px #FFF, 1654px 1032px #FFF, 653px 1627px #FFF, 986px 178px #FFF, 816px 695px #FFF, 699px 759px #FFF, 1648px 607px #FFF, 581px 559px #FFF, 1924px 1020px #FFF, 1818px 351px #FFF, 850px 1111px #FFF, 1410px 518px #FFF, 1583px 70px #FFF, 881px 716px #FFF, 1485px 838px #FFF, 1478px 340px #FFF, 311px 720px #FFF, 1419px 861px #FFF, 67px 39px #FFF, 629px 1159px #FFF, 748px 1727px #FFF, 1716px 377px #FFF, 1109px 347px #FFF, 917px 1638px #FFF, 328px 1105px #FFF, 787px 527px #FFF, 1193px 429px #FFF, 958px 695px #FFF, 747px 1171px #FFF, 1329px 1720px #FFF, 1760px 1199px #FFF, 110px 1959px #FFF, 518px 136px #FFF, 1822px 376px #FFF, 866px 1052px #FFF, 1619px 691px #FFF, 1939px 1530px #FFF, 799px 1228px #FFF, 861px 653px #FFF, 1921px 452px #FFF, 467px 1245px #FFF, 188px 1968px #FFF, 32px 1349px #FFF, 876px 954px #FFF, 684px 1895px #FFF, 568px 460px #FFF, 779px 1543px #FFF, 488px 273px #FFF, 239px 1838px #FFF, 1487px 1497px #FFF, 1037px 1966px #FFF, 1581px 1061px #FFF, 1563px 1109px #FFF, 865px 309px #FFF, 1444px 1438px #FFF, 587px 481px #FFF, 583px 250px #FFF, 804px 1902px #FFF, 486px 705px #FFF, 1436px 1314px #FFF, 277px 323px #FFF, 47px 504px #FFF, 1525px 824px #FFF, 134px 356px #FFF, 1505px 1391px #FFF, 301px 1722px #FFF, 1512px 1385px #FFF, 1116px 1688px #FFF, 1258px 976px #FFF, 537px 1278px #FFF, 1367px 830px #FFF, 1903px 1555px #FFF, 803px 684px #FFF, 1501px 1208px #FFF, 63px 1226px #FFF, 627px 551px #FFF, 1752px 823px #FFF, 1555px 1479px #FFF, 1360px 1679px #FFF, 787px 1091px #FFF, 256px 1597px #FFF, 745px 665px #FFF, 385px 1232px #FFF, 1505px 4px #FFF, 86px 1625px #FFF, 1066px 1859px #FFF, 1024px 536px #FFF, 645px 1231px #FFF, 912px 494px #FFF, 656px 1250px #FFF, 1195px 995px #FFF, 1919px 475px #FFF, 479px 930px #FFF, 338px 252px #FFF, 1312px 1398px #FFF, 1875px 1312px #FFF, 372px 1955px #FFF, 54px 1172px #FFF, 882px 887px #FFF, 1603px 1607px #FFF, 519px 189px #FFF, 673px 241px #FFF, 1713px 1720px #FFF, 1167px 1273px #FFF, 1205px 1476px #FFF, 902px 1697px #FFF, 934px 1538px #FFF, 1895px 732px #FFF, 242px 95px #FFF, 1308px 947px #FFF, 1903px 1669px #FFF, 1092px 81px #FFF, 746px 952px #FFF, 1443px 1386px #FFF, 1279px 467px #FFF, 940px 1889px #FFF, 705px 671px #FFF, 394px 629px #FFF, 585px 670px #FFF, 546px 150px #FFF, 1253px 1027px #FFF, 371px 2px #FFF, 1086px 1833px #FFF, 1205px 1408px #FFF, 1342px 1316px #FFF, 914px 1714px #FFF, 1312px 604px #FFF, 1284px 728px #FFF, 1011px 1253px #FFF, 397px 327px #FFF, 486px 124px #FFF, 299px 1762px #FFF, 1510px 320px #FFF, 1525px 1632px #FFF, 747px 1027px #FFF, 1620px 483px #FFF, 838px 238px #FFF, 1680px 1148px #FFF, 1847px 1899px #FFF, 878px 1993px #FFF, 1519px 1457px #FFF, 764px 1973px #FFF, 570px 1669px #FFF, 201px 122px #FFF, 1121px 1185px #FFF, 726px 907px #FFF, 1962px 31px #FFF, 705px 347px #FFF, 37px 1071px #FFF, 850px 737px #FFF, 570px 457px #FFF, 216px 1414px #FFF, 1538px 725px #FFF, 720px 1372px #FFF, 990px 370px #FFF, 1040px 50px #FFF, 1921px 591px #FFF, 288px 991px #FFF, 1976px 1623px #FFF, 1441px 272px #FFF, 1187px 1947px #FFF, 1275px 346px #FFF, 1277px 745px #FFF, 282px 1818px #FFF, 916px 487px #FFF, 1119px 1878px #FFF, 71px 1039px #FFF, 1984px 1126px #FFF, 203px 820px #FFF, 905px 569px #FFF, 1754px 1825px #FFF, 725px 1405px #FFF, 619px 1520px #FFF, 1274px 208px #FFF, 1976px 1855px #FFF, 129px 1376px #FFF, 631px 1493px #FFF, 1027px 1380px #FFF, 1458px 777px #FFF, 1453px 1036px #FFF, 764px 229px #FFF, 917px 1439px #FFF, 639px 1398px #FFF, 1747px 1889px #FFF, 541px 193px #FFF, 270px 1404px #FFF, 1677px 1745px #FFF, 1092px 1545px #FFF, 53px 1527px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1598px 1393px #fff, 1850px 1961px #FFF, 1771px 575px #FFF, 829px 1641px #FFF, 1447px 1448px #FFF, 1191px 1190px #FFF, 1515px 1230px #FFF, 1961px 1271px #FFF, 1182px 1213px #FFF, 1847px 137px #FFF, 1904px 1106px #FFF, 1774px 763px #FFF, 226px 1366px #FFF, 1229px 1944px #FFF, 1721px 1036px #FFF, 601px 94px #FFF, 163px 1709px #FFF, 15px 1268px #FFF, 1946px 71px #FFF, 1219px 528px #FFF, 855px 1463px #FFF, 1453px 1445px #FFF, 541px 913px #FFF, 1962px 762px #FFF, 203px 1946px #FFF, 644px 1125px #FFF, 1743px 5px #FFF, 1877px 477px #FFF, 538px 1602px #FFF, 1957px 1785px #FFF, 1690px 401px #FFF, 1941px 1746px #FFF, 56px 139px #FFF, 1384px 1993px #FFF, 1725px 797px #FFF, 952px 798px #FFF, 1642px 1741px #FFF, 1570px 186px #FFF, 146px 19px #FFF, 691px 525px #FFF, 1252px 621px #FFF, 686px 354px #FFF, 645px 212px #FFF, 996px 748px #FFF, 1526px 1477px #FFF, 790px 1262px #FFF, 506px 206px #FFF, 577px 1239px #FFF, 526px 1780px #FFF, 1796px 1756px #FFF, 1841px 1822px #FFF, 1541px 1049px #FFF, 555px 617px #FFF, 1234px 192px #FFF, 143px 812px #FFF, 1479px 1957px #FFF, 460px 392px #FFF, 268px 63px #FFF, 863px 243px #FFF, 839px 978px #FFF, 1039px 1293px #FFF, 1301px 499px #FFF, 1868px 359px #FFF, 1564px 1953px #FFF, 1263px 246px #FFF, 1975px 119px #FFF, 687px 1383px #FFF, 989px 672px #FFF, 314px 1177px #FFF, 1477px 1975px #FFF, 17px 1374px #FFF, 203px 1531px #FFF, 1488px 1777px #FFF, 1550px 1262px #FFF, 830px 1081px #FFF, 1958px 1834px #FFF, 1826px 1777px #FFF, 540px 1091px #FFF, 1730px 68px #FFF, 1131px 1896px #FFF, 1893px 1206px #FFF, 742px 862px #FFF, 140px 293px #FFF, 964px 211px #FFF, 889px 928px #FFF, 1604px 669px #FFF, 1955px 1607px #FFF, 1078px 1591px #FFF, 505px 328px #FFF, 1792px 1030px #FFF, 1233px 1447px #FFF, 1262px 1222px #FFF, 1630px 1265px #FFF, 884px 1889px #FFF, 1659px 965px #FFF, 1896px 370px #FFF, 592px 612px #FFF, 1473px 233px #FFF, 1259px 226px #FFF, 937px 1617px #FFF, 787px 1914px #FFF, 1076px 107px #FFF, 500px 502px #FFF, 1478px 1945px #FFF, 1006px 1512px #FFF, 1805px 778px #FFF, 761px 1512px #FFF, 1594px 633px #FFF, 1657px 1044px #FFF, 417px 375px #FFF, 697px 311px #FFF, 1034px 1783px #FFF, 391px 847px #FFF, 1288px 1920px #FFF, 1051px 305px #FFF, 11px 1877px #FFF, 256px 1244px #FFF, 345px 1035px #FFF, 1223px 14px #FFF, 211px 768px #FFF, 205px 1788px #FFF, 26px 594px #FFF, 1128px 820px #FFF, 33px 1120px #FFF, 418px 1521px #FFF, 944px 889px #FFF, 1686px 1481px #FFF, 271px 1129px #FFF, 1234px 1101px #FFF, 1444px 1784px #FFF, 1846px 1334px #FFF, 643px 171px #FFF, 950px 1655px #FFF, 597px 1884px #FFF, 1362px 131px #FFF, 124px 733px #FFF, 1238px 40px #FFF, 507px 1708px #FFF, 32px 1004px #FFF, 628px 443px #FFF, 1210px 1201px #FFF, 1621px 979px #FFF, 687px 906px #FFF, 1476px 1352px #FFF, 1040px 237px #FFF, 781px 612px #FFF, 665px 798px #FFF, 1325px 1316px #FFF, 121px 1443px #FFF, 102px 1852px #FFF, 476px 533px #FFF, 1398px 1102px #FFF, 539px 1563px #FFF, 229px 1700px #FFF, 943px 1730px #FFF, 401px 65px #FFF, 1582px 1786px #FFF, 898px 1173px #FFF, 1601px 7px #FFF, 370px 1280px #FFF, 1586px 1962px #FFF, 379px 747px #FFF, 1792px 88px #FFF, 513px 1473px #FFF, 706px 1931px #FFF, 51px 1697px #FFF, 1985px 562px #FFF, 545px 914px #FFF, 953px 1530px #FFF, 1692px 1998px #FFF, 1118px 923px #FFF, 1777px 343px #FFF, 900px 1206px #FFF, 777px 422px #FFF, 96px 1663px #FFF, 647px 205px #FFF, 1611px 1658px #FFF, 1276px 88px #FFF, 1992px 36px #FFF, 781px 1524px #FFF, 832px 1300px #FFF, 251px 1310px #FFF, 123px 608px #FFF, 1929px 1020px #FFF, 1606px 1555px #FFF, 1758px 421px #FFF, 1159px 320px #FFF, 327px 1603px #FFF, 197px 77px #FFF, 1990px 1153px #FFF, 686px 1825px #FFF, 272px 12px #FFF, 1098px 1238px #FFF, 1757px 45px #FFF, 1865px 890px #FFF, 238px 1437px #FFF, 370px 1656px #FFF, 1590px 564px #FFF, 714px 845px #FFF, 687px 1778px #FFF;
  animation: animateStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1598px 1393px #fff, 1850px 1961px #FFF, 1771px 575px #FFF, 829px 1641px #FFF, 1447px 1448px #FFF, 1191px 1190px #FFF, 1515px 1230px #FFF, 1961px 1271px #FFF, 1182px 1213px #FFF, 1847px 137px #FFF, 1904px 1106px #FFF, 1774px 763px #FFF, 226px 1366px #FFF, 1229px 1944px #FFF, 1721px 1036px #FFF, 601px 94px #FFF, 163px 1709px #FFF, 15px 1268px #FFF, 1946px 71px #FFF, 1219px 528px #FFF, 855px 1463px #FFF, 1453px 1445px #FFF, 541px 913px #FFF, 1962px 762px #FFF, 203px 1946px #FFF, 644px 1125px #FFF, 1743px 5px #FFF, 1877px 477px #FFF, 538px 1602px #FFF, 1957px 1785px #FFF, 1690px 401px #FFF, 1941px 1746px #FFF, 56px 139px #FFF, 1384px 1993px #FFF, 1725px 797px #FFF, 952px 798px #FFF, 1642px 1741px #FFF, 1570px 186px #FFF, 146px 19px #FFF, 691px 525px #FFF, 1252px 621px #FFF, 686px 354px #FFF, 645px 212px #FFF, 996px 748px #FFF, 1526px 1477px #FFF, 790px 1262px #FFF, 506px 206px #FFF, 577px 1239px #FFF, 526px 1780px #FFF, 1796px 1756px #FFF, 1841px 1822px #FFF, 1541px 1049px #FFF, 555px 617px #FFF, 1234px 192px #FFF, 143px 812px #FFF, 1479px 1957px #FFF, 460px 392px #FFF, 268px 63px #FFF, 863px 243px #FFF, 839px 978px #FFF, 1039px 1293px #FFF, 1301px 499px #FFF, 1868px 359px #FFF, 1564px 1953px #FFF, 1263px 246px #FFF, 1975px 119px #FFF, 687px 1383px #FFF, 989px 672px #FFF, 314px 1177px #FFF, 1477px 1975px #FFF, 17px 1374px #FFF, 203px 1531px #FFF, 1488px 1777px #FFF, 1550px 1262px #FFF, 830px 1081px #FFF, 1958px 1834px #FFF, 1826px 1777px #FFF, 540px 1091px #FFF, 1730px 68px #FFF, 1131px 1896px #FFF, 1893px 1206px #FFF, 742px 862px #FFF, 140px 293px #FFF, 964px 211px #FFF, 889px 928px #FFF, 1604px 669px #FFF, 1955px 1607px #FFF, 1078px 1591px #FFF, 505px 328px #FFF, 1792px 1030px #FFF, 1233px 1447px #FFF, 1262px 1222px #FFF, 1630px 1265px #FFF, 884px 1889px #FFF, 1659px 965px #FFF, 1896px 370px #FFF, 592px 612px #FFF, 1473px 233px #FFF, 1259px 226px #FFF, 937px 1617px #FFF, 787px 1914px #FFF, 1076px 107px #FFF, 500px 502px #FFF, 1478px 1945px #FFF, 1006px 1512px #FFF, 1805px 778px #FFF, 761px 1512px #FFF, 1594px 633px #FFF, 1657px 1044px #FFF, 417px 375px #FFF, 697px 311px #FFF, 1034px 1783px #FFF, 391px 847px #FFF, 1288px 1920px #FFF, 1051px 305px #FFF, 11px 1877px #FFF, 256px 1244px #FFF, 345px 1035px #FFF, 1223px 14px #FFF, 211px 768px #FFF, 205px 1788px #FFF, 26px 594px #FFF, 1128px 820px #FFF, 33px 1120px #FFF, 418px 1521px #FFF, 944px 889px #FFF, 1686px 1481px #FFF, 271px 1129px #FFF, 1234px 1101px #FFF, 1444px 1784px #FFF, 1846px 1334px #FFF, 643px 171px #FFF, 950px 1655px #FFF, 597px 1884px #FFF, 1362px 131px #FFF, 124px 733px #FFF, 1238px 40px #FFF, 507px 1708px #FFF, 32px 1004px #FFF, 628px 443px #FFF, 1210px 1201px #FFF, 1621px 979px #FFF, 687px 906px #FFF, 1476px 1352px #FFF, 1040px 237px #FFF, 781px 612px #FFF, 665px 798px #FFF, 1325px 1316px #FFF, 121px 1443px #FFF, 102px 1852px #FFF, 476px 533px #FFF, 1398px 1102px #FFF, 539px 1563px #FFF, 229px 1700px #FFF, 943px 1730px #FFF, 401px 65px #FFF, 1582px 1786px #FFF, 898px 1173px #FFF, 1601px 7px #FFF, 370px 1280px #FFF, 1586px 1962px #FFF, 379px 747px #FFF, 1792px 88px #FFF, 513px 1473px #FFF, 706px 1931px #FFF, 51px 1697px #FFF, 1985px 562px #FFF, 545px 914px #FFF, 953px 1530px #FFF, 1692px 1998px #FFF, 1118px 923px #FFF, 1777px 343px #FFF, 900px 1206px #FFF, 777px 422px #FFF, 96px 1663px #FFF, 647px 205px #FFF, 1611px 1658px #FFF, 1276px 88px #FFF, 1992px 36px #FFF, 781px 1524px #FFF, 832px 1300px #FFF, 251px 1310px #FFF, 123px 608px #FFF, 1929px 1020px #FFF, 1606px 1555px #FFF, 1758px 421px #FFF, 1159px 320px #FFF, 327px 1603px #FFF, 197px 77px #FFF, 1990px 1153px #FFF, 686px 1825px #FFF, 272px 12px #FFF, 1098px 1238px #FFF, 1757px 45px #FFF, 1865px 890px #FFF, 238px 1437px #FFF, 370px 1656px #FFF, 1590px 564px #FFF, 714px 845px #FFF, 687px 1778px #FFF;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 695px 175px #fff, 763px 126px #FFF, 759px 1249px #FFF, 1531px 1426px #FFF, 1455px 1701px #FFF, 1053px 101px #FFF, 1098px 1455px #FFF, 1761px 1713px #FFF, 707px 678px #FFF, 1236px 286px #FFF, 1168px 209px #FFF, 123px 1569px #FFF, 1894px 1604px #FFF, 295px 1112px #FFF, 1051px 1052px #FFF, 549px 406px #FFF, 1324px 790px #FFF, 1788px 516px #FFF, 672px 1047px #FFF, 546px 293px #FFF, 220px 64px #FFF, 1450px 58px #FFF, 1372px 228px #FFF, 1843px 541px #FFF, 1447px 807px #FFF, 820px 1866px #FFF, 1663px 1138px #FFF, 36px 98px #FFF, 1101px 1106px #FFF, 1685px 330px #FFF, 1001px 696px #FFF, 1305px 1929px #FFF, 1259px 593px #FFF, 1291px 1074px #FFF, 34px 1848px #FFF, 693px 797px #FFF, 139px 1164px #FFF, 1947px 208px #FFF, 1765px 319px #FFF, 249px 1150px #FFF, 487px 1535px #FFF, 337px 915px #FFF, 811px 874px #FFF, 490px 1748px #FFF, 578px 1256px #FFF, 309px 691px #FFF, 1313px 1281px #FFF, 218px 871px #FFF, 997px 517px #FFF, 669px 1862px #FFF, 1679px 921px #FFF, 744px 579px #FFF, 1891px 1522px #FFF, 666px 858px #FFF, 1802px 296px #FFF, 1781px 1404px #FFF, 134px 1910px #FFF, 1505px 297px #FFF, 1097px 1815px #FFF, 1603px 1258px #FFF, 922px 1329px #FFF, 683px 731px #FFF, 997px 1463px #FFF, 1670px 1274px #FFF, 1790px 964px #FFF, 1903px 229px #FFF, 714px 1514px #FFF, 125px 31px #FFF, 480px 1211px #FFF, 166px 960px #FFF, 1103px 1786px #FFF, 510px 730px #FFF, 119px 929px #FFF, 907px 1996px #FFF, 284px 1024px #FFF, 1344px 1766px #FFF, 56px 1719px #FFF, 86px 603px #FFF, 1937px 975px #FFF, 838px 1885px #FFF, 1467px 822px #FFF, 785px 301px #FFF, 1432px 1367px #FFF, 1477px 1140px #FFF, 508px 800px #FFF, 1431px 1624px #FFF, 1691px 1909px #FFF, 1907px 1801px #FFF, 1676px 1067px #FFF, 1562px 1952px #FFF, 294px 731px #FFF, 118px 69px #FFF, 1607px 1607px #FFF, 109px 479px #FFF, 506px 1648px #FFF, 1821px 1838px #FFF, 684px 543px #FFF, 894px 862px #FFF, 993px 1283px #FFF, 168px 1943px #FFF;
  animation: animateStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 695px 175px #fff, 763px 126px #FFF, 759px 1249px #FFF, 1531px 1426px #FFF, 1455px 1701px #FFF, 1053px 101px #FFF, 1098px 1455px #FFF, 1761px 1713px #FFF, 707px 678px #FFF, 1236px 286px #FFF, 1168px 209px #FFF, 123px 1569px #FFF, 1894px 1604px #FFF, 295px 1112px #FFF, 1051px 1052px #FFF, 549px 406px #FFF, 1324px 790px #FFF, 1788px 516px #FFF, 672px 1047px #FFF, 546px 293px #FFF, 220px 64px #FFF, 1450px 58px #FFF, 1372px 228px #FFF, 1843px 541px #FFF, 1447px 807px #FFF, 820px 1866px #FFF, 1663px 1138px #FFF, 36px 98px #FFF, 1101px 1106px #FFF, 1685px 330px #FFF, 1001px 696px #FFF, 1305px 1929px #FFF, 1259px 593px #FFF, 1291px 1074px #FFF, 34px 1848px #FFF, 693px 797px #FFF, 139px 1164px #FFF, 1947px 208px #FFF, 1765px 319px #FFF, 249px 1150px #FFF, 487px 1535px #FFF, 337px 915px #FFF, 811px 874px #FFF, 490px 1748px #FFF, 578px 1256px #FFF, 309px 691px #FFF, 1313px 1281px #FFF, 218px 871px #FFF, 997px 517px #FFF, 669px 1862px #FFF, 1679px 921px #FFF, 744px 579px #FFF, 1891px 1522px #FFF, 666px 858px #FFF, 1802px 296px #FFF, 1781px 1404px #FFF, 134px 1910px #FFF, 1505px 297px #FFF, 1097px 1815px #FFF, 1603px 1258px #FFF, 922px 1329px #FFF, 683px 731px #FFF, 997px 1463px #FFF, 1670px 1274px #FFF, 1790px 964px #FFF, 1903px 229px #FFF, 714px 1514px #FFF, 125px 31px #FFF, 480px 1211px #FFF, 166px 960px #FFF, 1103px 1786px #FFF, 510px 730px #FFF, 119px 929px #FFF, 907px 1996px #FFF, 284px 1024px #FFF, 1344px 1766px #FFF, 56px 1719px #FFF, 86px 603px #FFF, 1937px 975px #FFF, 838px 1885px #FFF, 1467px 822px #FFF, 785px 301px #FFF, 1432px 1367px #FFF, 1477px 1140px #FFF, 508px 800px #FFF, 1431px 1624px #FFF, 1691px 1909px #FFF, 1907px 1801px #FFF, 1676px 1067px #FFF, 1562px 1952px #FFF, 294px 731px #FFF, 118px 69px #FFF, 1607px 1607px #FFF, 109px 479px #FFF, 506px 1648px #FFF, 1821px 1838px #FFF, 684px 543px #FFF, 894px 862px #FFF, 993px 1283px #FFF, 168px 1943px #FFF;
}

.title {
  min-height: 100dvh;
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 800px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
  color: #fff;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  z-index: 10;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 38%;
  height: 4px;
  top: 198px;
  background: #fff;
  transform: scaleX(0);
}
.line.left {
  left: 100px;
  transform-origin: 100% 50%;
  animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
}
.line.right {
  right: 100px;
  transform-origin: 0% 50%;
  animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 150px;
  width: 4px;
  top: 135px;
  background: #fff;
  animation: bracket 0.4s ease-out 1.7s;
  animation-fill-mode: both;
}
.bracket:before, .bracket:after {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 4px;
  background: #fff;
}
.bracket.left {
  left: 50px;
}
.bracket.left:before {
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.left:after {
  bottom: 0;
  left: 0;
  transform-origin: 0% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.right {
  right: 50px;
}
.bracket.right:before {
  top: 0;
  right: 0;
  transform-origin: 100% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.right:after {
  bottom: 0;
  right: 0;
  transform-origin: 100% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}

.big {
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
  line-height: 50px;
  text-transform: uppercase;
}

.hide {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 50px;
  left: 0;
  background-color: #121720;
  animation: reveal 0.4s ease-out 1.7s;
  animation-fill-mode: both;
}
.hide.top {
  bottom: 49%;
  transform-origin: 50% 0%;
}
.hide.bottom {
  top: 49%;
  transform-origin: 50% 100%;
}

.small {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  left: 0;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}
.small.top {
  top: 130px;
  animation: small-top 0.5s ease-out 2.2s;
  animation-fill-mode: both;
}
.small.bottom {
  bottom: 130px;
  animation: small-bottom 0.5s ease-out 2.2s;
  animation-fill-mode: both;
}

.persons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 120%);
}
.persons img {
  width: 200px;
  height: 400px;
}

.tools-used {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  background: radial-gradient(ellipse at bottom, rgb(9, 10, 15) 100%);
  overflow: hidden;
}

.tools-used-wrapper {
  padding: 4rem;
  width: 100%;
  height: 100dvh;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.tools-used-wrapper > *:nth-child(odd) {
  justify-self: start;
  width: 50%;
}
.tools-used-wrapper > *:nth-child(even) {
  justify-self: end;
  width: 50%;
}
.tools-used-wrapper picture {
  background: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-used-wrapper img {
  max-width: 100px;
  max-height: 100px;
}/*# sourceMappingURL=styles.css.map */