@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes animateStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  90%, 100% {
    transform: scale(0);
  }
}
@keyframes lines {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes line-left {
  0% {
    transform-origin: 100% 50%;
  }
  50%, 100% {
    transform-origin: 0% 50%;
  }
}
@keyframes line-right {
  0% {
    transform-origin: 0% 50%;
  }
  50%, 100% {
    transform-origin: 100% 50%;
  }
}
@keyframes bracket {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes bracket-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes reveal {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes small-top {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes small-bottom {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #121720;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 4px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48.83px;
}

h3 {
  font-size: 39.06px;
}

h4 {
  font-size: 31.25px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.text-xs {
  font-size: 12.8px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, min-max(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, min-max(0, 1fr));
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.landing {
  background-image: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.9) 0%, rgba(9, 10, 15, 0.9) 100%), url("../../../src/assets/images/bg-landing.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  position: relative;
  z-index: -1;
}

.text-white {
  color: #fff;
}

.container {
  display: inline-block;
}

.text-typewriter {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(30), blink 0.5s step-end infinite alternate;
}

.trailer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000;
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.tools-develop {
  min-height: 100vh;
}

.about {
  height: 100dvh;
  overflow: hidden;
  position: relative;
  background: radial-gradient(ellipse at bottom, rgb(9, 10, 15) 100%);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1092px 968px #fff, 971px 1196px #FFF, 992px 1928px #FFF, 555px 1787px #FFF, 1371px 1052px #FFF, 399px 524px #FFF, 1073px 923px #FFF, 1552px 701px #FFF, 1937px 1528px #FFF, 138px 1670px #FFF, 1878px 449px #FFF, 445px 474px #FFF, 1932px 1498px #FFF, 95px 648px #FFF, 791px 83px #FFF, 471px 742px #FFF, 792px 1503px #FFF, 753px 482px #FFF, 1394px 816px #FFF, 1491px 1537px #FFF, 166px 545px #FFF, 1521px 391px #FFF, 1292px 442px #FFF, 1284px 349px #FFF, 774px 1845px #FFF, 1047px 1636px #FFF, 1796px 1396px #FFF, 1631px 984px #FFF, 1044px 1329px #FFF, 1297px 1688px #FFF, 1653px 1627px #FFF, 1424px 1316px #FFF, 230px 1982px #FFF, 468px 1338px #FFF, 1669px 1077px #FFF, 738px 1951px #FFF, 408px 1395px #FFF, 1583px 1490px #FFF, 1552px 367px #FFF, 944px 442px #FFF, 292px 202px #FFF, 313px 358px #FFF, 1410px 516px #FFF, 1045px 286px #FFF, 551px 419px #FFF, 954px 1734px #FFF, 1503px 1646px #FFF, 872px 880px #FFF, 1093px 325px #FFF, 1492px 91px #FFF, 1277px 411px #FFF, 1327px 1155px #FFF, 1491px 1320px #FFF, 1400px 1980px #FFF, 1195px 1687px #FFF, 1335px 475px #FFF, 1649px 1398px #FFF, 1331px 256px #FFF, 1249px 233px #FFF, 606px 776px #FFF, 795px 231px #FFF, 615px 1556px #FFF, 1150px 870px #FFF, 1050px 1242px #FFF, 1658px 1405px #FFF, 1676px 1605px #FFF, 1520px 260px #FFF, 76px 769px #FFF, 1550px 697px #FFF, 1762px 636px #FFF, 1869px 756px #FFF, 1191px 96px #FFF, 918px 1861px #FFF, 157px 1482px #FFF, 66px 801px #FFF, 1958px 1345px #FFF, 1862px 886px #FFF, 1295px 454px #FFF, 1731px 596px #FFF, 1132px 1265px #FFF, 36px 1596px #FFF, 1076px 187px #FFF, 1017px 1335px #FFF, 147px 207px #FFF, 1256px 1479px #FFF, 565px 1493px #FFF, 492px 1885px #FFF, 1134px 520px #FFF, 1928px 1936px #FFF, 767px 1527px #FFF, 1646px 1876px #FFF, 15px 1824px #FFF, 519px 532px #FFF, 1041px 556px #FFF, 1050px 553px #FFF, 637px 1641px #FFF, 1090px 1651px #FFF, 547px 1916px #FFF, 1341px 488px #FFF, 992px 561px #FFF, 698px 1399px #FFF, 652px 1819px #FFF, 1046px 494px #FFF, 536px 1503px #FFF, 772px 1978px #FFF, 804px 1490px #FFF, 1209px 1296px #FFF, 1980px 1412px #FFF, 172px 1882px #FFF, 598px 1406px #FFF, 1687px 868px #FFF, 345px 1918px #FFF, 1572px 479px #FFF, 1280px 1845px #FFF, 1502px 837px #FFF, 721px 333px #FFF, 556px 299px #FFF, 916px 1493px #FFF, 644px 50px #FFF, 1331px 334px #FFF, 1847px 585px #FFF, 1989px 1878px #FFF, 1354px 1650px #FFF, 693px 344px #FFF, 1273px 1332px #FFF, 1060px 911px #FFF, 319px 1188px #FFF, 1641px 1821px #FFF, 1551px 817px #FFF, 375px 1981px #FFF, 761px 400px #FFF, 971px 657px #FFF, 1141px 129px #FFF, 1394px 651px #FFF, 1183px 1036px #FFF, 324px 1188px #FFF, 414px 498px #FFF, 793px 1506px #FFF, 1504px 1663px #FFF, 635px 1939px #FFF, 536px 1534px #FFF, 1216px 475px #FFF, 512px 1856px #FFF, 755px 568px #FFF, 1588px 1858px #FFF, 64px 1274px #FFF, 1232px 951px #FFF, 1676px 182px #FFF, 1340px 1428px #FFF, 1047px 1995px #FFF, 627px 129px #FFF, 1776px 841px #FFF, 661px 1221px #FFF, 933px 1071px #FFF, 1460px 1721px #FFF, 1038px 1797px #FFF, 1268px 1978px #FFF, 415px 776px #FFF, 910px 1832px #FFF, 9px 973px #FFF, 1220px 1028px #FFF, 1040px 463px #FFF, 552px 1443px #FFF, 225px 1144px #FFF, 745px 123px #FFF, 1490px 37px #FFF, 1458px 527px #FFF, 166px 1745px #FFF, 515px 580px #FFF, 1921px 549px #FFF, 635px 1273px #FFF, 1142px 556px #FFF, 389px 803px #FFF, 795px 92px #FFF, 499px 30px #FFF, 1997px 509px #FFF, 1692px 1219px #FFF, 1808px 464px #FFF, 1763px 1642px #FFF, 1641px 267px #FFF, 1495px 1920px #FFF, 923px 1103px #FFF, 1626px 1776px #FFF, 1452px 180px #FFF, 1468px 1516px #FFF, 1854px 280px #FFF, 262px 1773px #FFF, 599px 1384px #FFF, 1061px 954px #FFF, 1797px 215px #FFF, 495px 1978px #FFF, 1754px 594px #FFF, 1440px 494px #FFF, 750px 409px #FFF, 1905px 13px #FFF, 1909px 1975px #FFF, 593px 1578px #FFF, 843px 769px #FFF, 1719px 615px #FFF, 1349px 1894px #FFF, 111px 391px #FFF, 363px 1494px #FFF, 715px 597px #FFF, 766px 476px #FFF, 505px 1265px #FFF, 13px 289px #FFF, 1951px 615px #FFF, 38px 1691px #FFF, 1280px 891px #FFF, 1727px 1785px #FFF, 1771px 1480px #FFF, 276px 1017px #FFF, 396px 1530px #FFF, 201px 1407px #FFF, 527px 1634px #FFF, 935px 662px #FFF, 840px 395px #FFF, 209px 1689px #FFF, 197px 1940px #FFF, 1221px 1289px #FFF, 1978px 665px #FFF, 169px 798px #FFF, 38px 1742px #FFF, 1888px 534px #FFF, 499px 1075px #FFF, 727px 1584px #FFF, 1377px 1172px #FFF, 1590px 817px #FFF, 1435px 1156px #FFF, 1713px 542px #FFF, 1634px 1889px #FFF, 1759px 1514px #FFF, 688px 302px #FFF, 174px 109px #FFF, 1705px 423px #FFF, 1333px 999px #FFF, 1280px 261px #FFF, 1351px 586px #FFF, 1209px 727px #FFF, 573px 1572px #FFF, 1893px 1824px #FFF, 1473px 914px #FFF, 629px 1847px #FFF, 1186px 587px #FFF, 1629px 818px #FFF, 1115px 970px #FFF, 1338px 804px #FFF, 695px 274px #FFF, 121px 1531px #FFF, 565px 1984px #FFF, 831px 934px #FFF, 509px 1986px #FFF, 604px 639px #FFF, 1101px 1645px #FFF, 1992px 506px #FFF, 63px 458px #FFF, 1977px 326px #FFF, 1912px 1688px #FFF, 491px 613px #FFF, 221px 1048px #FFF, 1870px 1664px #FFF, 122px 177px #FFF, 967px 1098px #FFF, 1958px 1620px #FFF, 693px 990px #FFF, 700px 1149px #FFF, 59px 855px #FFF, 919px 683px #FFF, 959px 1288px #FFF, 1399px 1050px #FFF, 519px 1988px #FFF, 1425px 247px #FFF, 833px 186px #FFF, 1775px 178px #FFF, 827px 494px #FFF, 22px 46px #FFF, 1508px 1643px #FFF, 109px 1043px #FFF, 395px 1110px #FFF, 1173px 242px #FFF, 1812px 1173px #FFF, 1900px 1480px #FFF, 216px 1438px #FFF, 1215px 1058px #FFF, 753px 813px #FFF, 1296px 1952px #FFF, 1055px 427px #FFF, 823px 1680px #FFF, 1897px 421px #FFF, 1713px 1249px #FFF, 322px 193px #FFF, 197px 1667px #FFF, 1623px 1949px #FFF, 1445px 1347px #FFF, 1457px 787px #FFF, 1271px 1764px #FFF, 1520px 1837px #FFF, 223px 362px #FFF, 199px 1517px #FFF, 1850px 1582px #FFF, 630px 773px #FFF, 312px 1630px #FFF, 231px 543px #FFF, 187px 1675px #FFF, 362px 223px #FFF, 746px 1525px #FFF, 313px 745px #FFF, 1011px 1222px #FFF, 1669px 1716px #FFF, 1827px 496px #FFF, 16px 1327px #FFF, 443px 183px #FFF, 227px 1952px #FFF, 357px 1787px #FFF, 1910px 498px #FFF, 158px 104px #FFF, 1915px 195px #FFF, 49px 156px #FFF, 249px 714px #FFF, 285px 1921px #FFF, 75px 3px #FFF, 1084px 1250px #FFF, 35px 1952px #FFF, 1897px 1474px #FFF, 364px 491px #FFF, 1240px 1535px #FFF, 1075px 1958px #FFF, 1834px 844px #FFF, 272px 1958px #FFF, 727px 1362px #FFF, 1323px 436px #FFF, 13px 715px #FFF, 142px 1905px #FFF, 143px 320px #FFF, 586px 1977px #FFF, 141px 1851px #FFF, 754px 835px #FFF, 740px 1945px #FFF, 1313px 540px #FFF, 1488px 1433px #FFF, 1262px 605px #FFF, 1568px 347px #FFF, 975px 23px #FFF, 502px 945px #FFF, 19px 1977px #FFF, 949px 1268px #FFF, 843px 1846px #FFF, 1728px 1430px #FFF, 444px 373px #FFF, 46px 483px #FFF, 351px 629px #FFF, 992px 589px #FFF, 991px 481px #FFF, 1262px 323px #FFF, 873px 941px #FFF, 314px 637px #FFF, 96px 40px #FFF, 832px 1397px #FFF, 1991px 1264px #FFF, 665px 1582px #FFF, 1814px 168px #FFF, 1116px 1684px #FFF, 198px 824px #FFF, 632px 290px #FFF, 1942px 723px #FFF, 661px 1752px #FFF, 1866px 1570px #FFF, 1416px 963px #FFF, 249px 419px #FFF, 605px 34px #FFF, 513px 1045px #FFF, 905px 1426px #FFF, 894px 1742px #FFF, 250px 169px #FFF, 1992px 1224px #FFF, 1919px 933px #FFF, 167px 1937px #FFF, 189px 224px #FFF, 203px 1119px #FFF, 692px 471px #FFF, 707px 931px #FFF, 1820px 1633px #FFF, 376px 1698px #FFF, 742px 150px #FFF, 1686px 1667px #FFF, 1059px 1390px #FFF, 1096px 467px #FFF, 596px 1727px #FFF, 719px 278px #FFF, 333px 1108px #FFF, 121px 616px #FFF, 1554px 854px #FFF, 1089px 1290px #FFF, 1627px 63px #FFF, 1475px 595px #FFF, 1050px 1655px #FFF, 577px 905px #FFF, 1866px 1050px #FFF, 1995px 1973px #FFF, 826px 1504px #FFF, 131px 1705px #FFF, 883px 756px #FFF, 512px 241px #FFF, 173px 759px #FFF, 1152px 1142px #FFF, 812px 1341px #FFF, 1760px 1313px #FFF, 1982px 469px #FFF, 1716px 935px #FFF, 1803px 1023px #FFF, 14px 1902px #FFF, 500px 1253px #FFF, 1360px 474px #FFF, 1349px 1231px #FFF, 1157px 34px #FFF, 326px 554px #FFF, 1282px 1785px #FFF, 1846px 731px #FFF, 1851px 1107px #FFF, 1560px 301px #FFF, 1px 989px #FFF, 763px 1229px #FFF, 1511px 714px #FFF, 1559px 980px #FFF, 875px 20px #FFF, 494px 328px #FFF, 1135px 1483px #FFF, 524px 435px #FFF, 1113px 1442px #FFF, 480px 723px #FFF, 1865px 1726px #FFF, 645px 965px #FFF, 875px 1894px #FFF, 1341px 606px #FFF, 1456px 1446px #FFF, 1828px 1627px #FFF, 1897px 1178px #FFF, 1088px 1043px #FFF, 1513px 813px #FFF, 1354px 798px #FFF, 505px 1878px #FFF, 773px 648px #FFF, 1467px 1244px #FFF, 1871px 259px #FFF, 1921px 168px #FFF, 559px 684px #FFF, 1813px 109px #FFF, 581px 1726px #FFF, 106px 1918px #FFF, 772px 1289px #FFF, 1947px 826px #FFF, 1918px 962px #FFF, 1354px 1092px #FFF, 1094px 464px #FFF, 1381px 339px #FFF, 102px 1312px #FFF, 1604px 1359px #FFF, 322px 1863px #FFF, 1736px 353px #FFF, 1170px 624px #FFF, 792px 1482px #FFF, 1070px 629px #FFF, 1549px 1097px #FFF, 1293px 2000px #FFF, 1949px 1953px #FFF, 1896px 87px #FFF, 1389px 1889px #FFF, 1120px 1618px #FFF, 505px 7px #FFF, 106px 1012px #FFF, 107px 702px #FFF, 936px 846px #FFF, 1133px 1110px #FFF, 400px 1340px #FFF, 1153px 1906px #FFF, 1523px 1246px #FFF, 1791px 95px #FFF, 739px 1824px #FFF, 1533px 1663px #FFF, 850px 1431px #FFF, 18px 1408px #FFF, 1192px 1728px #FFF, 168px 1265px #FFF, 316px 565px #FFF, 642px 557px #FFF, 1502px 746px #FFF, 702px 1687px #FFF, 206px 103px #FFF, 1656px 430px #FFF, 727px 1836px #FFF, 1134px 360px #FFF, 1163px 1540px #FFF, 1955px 1569px #FFF, 753px 1260px #FFF, 1718px 804px #FFF, 1751px 1340px #FFF, 373px 1152px #FFF, 493px 856px #FFF, 871px 1106px #FFF, 119px 1207px #FFF, 276px 505px #FFF, 522px 1023px #FFF, 1768px 1826px #FFF, 1693px 1596px #FFF, 1728px 1129px #FFF, 1446px 782px #FFF, 692px 1257px #FFF, 544px 763px #FFF, 1647px 949px #FFF, 1060px 1739px #FFF, 1957px 1731px #FFF, 1048px 406px #FFF, 267px 1063px #FFF, 351px 530px #FFF, 596px 1251px #FFF, 397px 995px #FFF, 224px 133px #FFF, 1059px 1403px #FFF, 740px 1488px #FFF, 1002px 1501px #FFF, 1276px 1945px #FFF, 1700px 362px #FFF, 720px 1401px #FFF, 1976px 899px #FFF, 1898px 716px #FFF, 1826px 1712px #FFF, 8px 1629px #FFF, 1936px 1792px #FFF, 714px 1305px #FFF, 453px 344px #FFF, 1294px 1904px #FFF, 1865px 179px #FFF, 1906px 42px #FFF, 643px 1897px #FFF, 1810px 431px #FFF, 1631px 1001px #FFF, 946px 1948px #FFF, 1681px 912px #FFF, 860px 312px #FFF, 112px 286px #FFF, 43px 216px #FFF, 1570px 1686px #FFF, 1501px 1513px #FFF, 1663px 285px #FFF, 1950px 867px #FFF, 892px 98px #FFF, 1205px 412px #FFF, 95px 1868px #FFF, 161px 1210px #FFF, 1041px 520px #FFF, 123px 1054px #FFF, 1820px 1068px #FFF, 1330px 1367px #FFF, 1144px 252px #FFF, 1538px 766px #FFF, 658px 606px #FFF, 1886px 956px #FFF, 1502px 1062px #FFF, 438px 1697px #FFF, 176px 269px #FFF, 363px 1916px #FFF, 1567px 1711px #FFF, 1114px 909px #FFF, 1107px 1352px #FFF, 1604px 1087px #FFF, 339px 1343px #FFF, 92px 726px #FFF, 229px 1498px #FFF, 1245px 776px #FFF, 1342px 1722px #FFF, 688px 1269px #FFF, 1376px 914px #FFF, 978px 1239px #FFF, 1447px 62px #FFF, 1651px 1215px #FFF, 1690px 1762px #FFF, 1570px 575px #FFF, 1902px 373px #FFF, 1277px 1914px #FFF, 1479px 604px #FFF, 757px 188px #FFF, 994px 833px #FFF, 1903px 1312px #FFF, 99px 812px #FFF, 827px 1593px #FFF, 1391px 1879px #FFF, 1148px 254px #FFF, 1094px 1352px #FFF, 1632px 1917px #FFF, 963px 200px #FFF, 630px 1049px #FFF, 36px 201px #FFF, 1654px 593px #FFF, 461px 424px #FFF, 501px 1357px #FFF, 1839px 1302px #FFF, 1445px 714px #FFF, 1110px 159px #FFF, 533px 330px #FFF, 1842px 1927px #FFF, 62px 1917px #FFF, 836px 384px #FFF, 196px 615px #FFF, 1299px 600px #FFF, 1342px 75px #FFF, 1694px 1189px #FFF, 772px 671px #FFF, 932px 1256px #FFF, 648px 726px #FFF, 1179px 658px #FFF, 1386px 132px #FFF, 1012px 1055px #FFF, 1700px 211px #FFF, 1307px 122px #FFF, 864px 447px #FFF, 1595px 1680px #FFF, 522px 224px #FFF, 648px 1572px #FFF, 1463px 1189px #FFF, 748px 375px #FFF, 437px 561px #FFF, 1629px 1122px #FFF, 8px 1024px #FFF, 656px 572px #FFF, 1676px 268px #FFF, 1658px 316px #FFF, 417px 1272px #FFF, 309px 1802px #FFF, 1133px 109px #FFF, 1587px 1849px #FFF, 1826px 735px #FFF, 967px 665px #FFF, 98px 272px #FFF, 1710px 998px #FFF, 1447px 990px #FFF, 1424px 1992px #FFF, 1385px 1525px #FFF, 1790px 451px #FFF, 1508px 357px #FFF, 88px 1802px #FFF, 50px 500px #FFF, 1517px 266px #FFF, 845px 29px #FFF, 6px 1776px #FFF, 1554px 1985px #FFF, 159px 1067px #FFF, 1147px 720px #FFF, 1342px 483px #FFF, 1713px 1843px #FFF, 274px 733px #FFF, 259px 1815px #FFF, 1218px 1665px #FFF, 1300px 959px #FFF, 954px 1943px #FFF, 853px 699px #FFF, 1815px 765px #FFF, 42px 109px #FFF, 1471px 1742px #FFF, 196px 984px #FFF, 1781px 1621px #FFF, 1088px 1230px #FFF, 1726px 895px #FFF, 1432px 107px #FFF, 1440px 553px #FFF, 658px 1764px #FFF, 291px 445px #FFF, 1814px 941px #FFF, 1081px 613px #FFF, 635px 1836px #FFF, 613px 553px #FFF, 1384px 371px #FFF, 1452px 1235px #FFF, 34px 1027px #FFF, 303px 1077px #FFF, 1334px 83px #FFF, 1036px 49px #FFF, 1947px 330px #FFF, 851px 651px #FFF, 98px 624px #FFF, 1316px 103px #FFF, 667px 1565px #FFF, 1153px 1343px #FFF, 245px 459px #FFF, 671px 1801px #FFF, 1848px 103px #FFF, 558px 1170px #FFF, 1014px 360px #FFF, 1910px 1155px #FFF, 1073px 389px #FFF, 1274px 1458px #FFF, 963px 1151px #FFF, 1704px 50px #FFF, 1426px 50px #FFF, 190px 1893px #FFF, 1048px 876px #FFF, 1814px 616px #FFF, 113px 533px #FFF, 55px 1330px #FFF, 74px 1809px #FFF, 12px 887px #FFF;
  animation: animateStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1092px 968px #fff, 971px 1196px #FFF, 992px 1928px #FFF, 555px 1787px #FFF, 1371px 1052px #FFF, 399px 524px #FFF, 1073px 923px #FFF, 1552px 701px #FFF, 1937px 1528px #FFF, 138px 1670px #FFF, 1878px 449px #FFF, 445px 474px #FFF, 1932px 1498px #FFF, 95px 648px #FFF, 791px 83px #FFF, 471px 742px #FFF, 792px 1503px #FFF, 753px 482px #FFF, 1394px 816px #FFF, 1491px 1537px #FFF, 166px 545px #FFF, 1521px 391px #FFF, 1292px 442px #FFF, 1284px 349px #FFF, 774px 1845px #FFF, 1047px 1636px #FFF, 1796px 1396px #FFF, 1631px 984px #FFF, 1044px 1329px #FFF, 1297px 1688px #FFF, 1653px 1627px #FFF, 1424px 1316px #FFF, 230px 1982px #FFF, 468px 1338px #FFF, 1669px 1077px #FFF, 738px 1951px #FFF, 408px 1395px #FFF, 1583px 1490px #FFF, 1552px 367px #FFF, 944px 442px #FFF, 292px 202px #FFF, 313px 358px #FFF, 1410px 516px #FFF, 1045px 286px #FFF, 551px 419px #FFF, 954px 1734px #FFF, 1503px 1646px #FFF, 872px 880px #FFF, 1093px 325px #FFF, 1492px 91px #FFF, 1277px 411px #FFF, 1327px 1155px #FFF, 1491px 1320px #FFF, 1400px 1980px #FFF, 1195px 1687px #FFF, 1335px 475px #FFF, 1649px 1398px #FFF, 1331px 256px #FFF, 1249px 233px #FFF, 606px 776px #FFF, 795px 231px #FFF, 615px 1556px #FFF, 1150px 870px #FFF, 1050px 1242px #FFF, 1658px 1405px #FFF, 1676px 1605px #FFF, 1520px 260px #FFF, 76px 769px #FFF, 1550px 697px #FFF, 1762px 636px #FFF, 1869px 756px #FFF, 1191px 96px #FFF, 918px 1861px #FFF, 157px 1482px #FFF, 66px 801px #FFF, 1958px 1345px #FFF, 1862px 886px #FFF, 1295px 454px #FFF, 1731px 596px #FFF, 1132px 1265px #FFF, 36px 1596px #FFF, 1076px 187px #FFF, 1017px 1335px #FFF, 147px 207px #FFF, 1256px 1479px #FFF, 565px 1493px #FFF, 492px 1885px #FFF, 1134px 520px #FFF, 1928px 1936px #FFF, 767px 1527px #FFF, 1646px 1876px #FFF, 15px 1824px #FFF, 519px 532px #FFF, 1041px 556px #FFF, 1050px 553px #FFF, 637px 1641px #FFF, 1090px 1651px #FFF, 547px 1916px #FFF, 1341px 488px #FFF, 992px 561px #FFF, 698px 1399px #FFF, 652px 1819px #FFF, 1046px 494px #FFF, 536px 1503px #FFF, 772px 1978px #FFF, 804px 1490px #FFF, 1209px 1296px #FFF, 1980px 1412px #FFF, 172px 1882px #FFF, 598px 1406px #FFF, 1687px 868px #FFF, 345px 1918px #FFF, 1572px 479px #FFF, 1280px 1845px #FFF, 1502px 837px #FFF, 721px 333px #FFF, 556px 299px #FFF, 916px 1493px #FFF, 644px 50px #FFF, 1331px 334px #FFF, 1847px 585px #FFF, 1989px 1878px #FFF, 1354px 1650px #FFF, 693px 344px #FFF, 1273px 1332px #FFF, 1060px 911px #FFF, 319px 1188px #FFF, 1641px 1821px #FFF, 1551px 817px #FFF, 375px 1981px #FFF, 761px 400px #FFF, 971px 657px #FFF, 1141px 129px #FFF, 1394px 651px #FFF, 1183px 1036px #FFF, 324px 1188px #FFF, 414px 498px #FFF, 793px 1506px #FFF, 1504px 1663px #FFF, 635px 1939px #FFF, 536px 1534px #FFF, 1216px 475px #FFF, 512px 1856px #FFF, 755px 568px #FFF, 1588px 1858px #FFF, 64px 1274px #FFF, 1232px 951px #FFF, 1676px 182px #FFF, 1340px 1428px #FFF, 1047px 1995px #FFF, 627px 129px #FFF, 1776px 841px #FFF, 661px 1221px #FFF, 933px 1071px #FFF, 1460px 1721px #FFF, 1038px 1797px #FFF, 1268px 1978px #FFF, 415px 776px #FFF, 910px 1832px #FFF, 9px 973px #FFF, 1220px 1028px #FFF, 1040px 463px #FFF, 552px 1443px #FFF, 225px 1144px #FFF, 745px 123px #FFF, 1490px 37px #FFF, 1458px 527px #FFF, 166px 1745px #FFF, 515px 580px #FFF, 1921px 549px #FFF, 635px 1273px #FFF, 1142px 556px #FFF, 389px 803px #FFF, 795px 92px #FFF, 499px 30px #FFF, 1997px 509px #FFF, 1692px 1219px #FFF, 1808px 464px #FFF, 1763px 1642px #FFF, 1641px 267px #FFF, 1495px 1920px #FFF, 923px 1103px #FFF, 1626px 1776px #FFF, 1452px 180px #FFF, 1468px 1516px #FFF, 1854px 280px #FFF, 262px 1773px #FFF, 599px 1384px #FFF, 1061px 954px #FFF, 1797px 215px #FFF, 495px 1978px #FFF, 1754px 594px #FFF, 1440px 494px #FFF, 750px 409px #FFF, 1905px 13px #FFF, 1909px 1975px #FFF, 593px 1578px #FFF, 843px 769px #FFF, 1719px 615px #FFF, 1349px 1894px #FFF, 111px 391px #FFF, 363px 1494px #FFF, 715px 597px #FFF, 766px 476px #FFF, 505px 1265px #FFF, 13px 289px #FFF, 1951px 615px #FFF, 38px 1691px #FFF, 1280px 891px #FFF, 1727px 1785px #FFF, 1771px 1480px #FFF, 276px 1017px #FFF, 396px 1530px #FFF, 201px 1407px #FFF, 527px 1634px #FFF, 935px 662px #FFF, 840px 395px #FFF, 209px 1689px #FFF, 197px 1940px #FFF, 1221px 1289px #FFF, 1978px 665px #FFF, 169px 798px #FFF, 38px 1742px #FFF, 1888px 534px #FFF, 499px 1075px #FFF, 727px 1584px #FFF, 1377px 1172px #FFF, 1590px 817px #FFF, 1435px 1156px #FFF, 1713px 542px #FFF, 1634px 1889px #FFF, 1759px 1514px #FFF, 688px 302px #FFF, 174px 109px #FFF, 1705px 423px #FFF, 1333px 999px #FFF, 1280px 261px #FFF, 1351px 586px #FFF, 1209px 727px #FFF, 573px 1572px #FFF, 1893px 1824px #FFF, 1473px 914px #FFF, 629px 1847px #FFF, 1186px 587px #FFF, 1629px 818px #FFF, 1115px 970px #FFF, 1338px 804px #FFF, 695px 274px #FFF, 121px 1531px #FFF, 565px 1984px #FFF, 831px 934px #FFF, 509px 1986px #FFF, 604px 639px #FFF, 1101px 1645px #FFF, 1992px 506px #FFF, 63px 458px #FFF, 1977px 326px #FFF, 1912px 1688px #FFF, 491px 613px #FFF, 221px 1048px #FFF, 1870px 1664px #FFF, 122px 177px #FFF, 967px 1098px #FFF, 1958px 1620px #FFF, 693px 990px #FFF, 700px 1149px #FFF, 59px 855px #FFF, 919px 683px #FFF, 959px 1288px #FFF, 1399px 1050px #FFF, 519px 1988px #FFF, 1425px 247px #FFF, 833px 186px #FFF, 1775px 178px #FFF, 827px 494px #FFF, 22px 46px #FFF, 1508px 1643px #FFF, 109px 1043px #FFF, 395px 1110px #FFF, 1173px 242px #FFF, 1812px 1173px #FFF, 1900px 1480px #FFF, 216px 1438px #FFF, 1215px 1058px #FFF, 753px 813px #FFF, 1296px 1952px #FFF, 1055px 427px #FFF, 823px 1680px #FFF, 1897px 421px #FFF, 1713px 1249px #FFF, 322px 193px #FFF, 197px 1667px #FFF, 1623px 1949px #FFF, 1445px 1347px #FFF, 1457px 787px #FFF, 1271px 1764px #FFF, 1520px 1837px #FFF, 223px 362px #FFF, 199px 1517px #FFF, 1850px 1582px #FFF, 630px 773px #FFF, 312px 1630px #FFF, 231px 543px #FFF, 187px 1675px #FFF, 362px 223px #FFF, 746px 1525px #FFF, 313px 745px #FFF, 1011px 1222px #FFF, 1669px 1716px #FFF, 1827px 496px #FFF, 16px 1327px #FFF, 443px 183px #FFF, 227px 1952px #FFF, 357px 1787px #FFF, 1910px 498px #FFF, 158px 104px #FFF, 1915px 195px #FFF, 49px 156px #FFF, 249px 714px #FFF, 285px 1921px #FFF, 75px 3px #FFF, 1084px 1250px #FFF, 35px 1952px #FFF, 1897px 1474px #FFF, 364px 491px #FFF, 1240px 1535px #FFF, 1075px 1958px #FFF, 1834px 844px #FFF, 272px 1958px #FFF, 727px 1362px #FFF, 1323px 436px #FFF, 13px 715px #FFF, 142px 1905px #FFF, 143px 320px #FFF, 586px 1977px #FFF, 141px 1851px #FFF, 754px 835px #FFF, 740px 1945px #FFF, 1313px 540px #FFF, 1488px 1433px #FFF, 1262px 605px #FFF, 1568px 347px #FFF, 975px 23px #FFF, 502px 945px #FFF, 19px 1977px #FFF, 949px 1268px #FFF, 843px 1846px #FFF, 1728px 1430px #FFF, 444px 373px #FFF, 46px 483px #FFF, 351px 629px #FFF, 992px 589px #FFF, 991px 481px #FFF, 1262px 323px #FFF, 873px 941px #FFF, 314px 637px #FFF, 96px 40px #FFF, 832px 1397px #FFF, 1991px 1264px #FFF, 665px 1582px #FFF, 1814px 168px #FFF, 1116px 1684px #FFF, 198px 824px #FFF, 632px 290px #FFF, 1942px 723px #FFF, 661px 1752px #FFF, 1866px 1570px #FFF, 1416px 963px #FFF, 249px 419px #FFF, 605px 34px #FFF, 513px 1045px #FFF, 905px 1426px #FFF, 894px 1742px #FFF, 250px 169px #FFF, 1992px 1224px #FFF, 1919px 933px #FFF, 167px 1937px #FFF, 189px 224px #FFF, 203px 1119px #FFF, 692px 471px #FFF, 707px 931px #FFF, 1820px 1633px #FFF, 376px 1698px #FFF, 742px 150px #FFF, 1686px 1667px #FFF, 1059px 1390px #FFF, 1096px 467px #FFF, 596px 1727px #FFF, 719px 278px #FFF, 333px 1108px #FFF, 121px 616px #FFF, 1554px 854px #FFF, 1089px 1290px #FFF, 1627px 63px #FFF, 1475px 595px #FFF, 1050px 1655px #FFF, 577px 905px #FFF, 1866px 1050px #FFF, 1995px 1973px #FFF, 826px 1504px #FFF, 131px 1705px #FFF, 883px 756px #FFF, 512px 241px #FFF, 173px 759px #FFF, 1152px 1142px #FFF, 812px 1341px #FFF, 1760px 1313px #FFF, 1982px 469px #FFF, 1716px 935px #FFF, 1803px 1023px #FFF, 14px 1902px #FFF, 500px 1253px #FFF, 1360px 474px #FFF, 1349px 1231px #FFF, 1157px 34px #FFF, 326px 554px #FFF, 1282px 1785px #FFF, 1846px 731px #FFF, 1851px 1107px #FFF, 1560px 301px #FFF, 1px 989px #FFF, 763px 1229px #FFF, 1511px 714px #FFF, 1559px 980px #FFF, 875px 20px #FFF, 494px 328px #FFF, 1135px 1483px #FFF, 524px 435px #FFF, 1113px 1442px #FFF, 480px 723px #FFF, 1865px 1726px #FFF, 645px 965px #FFF, 875px 1894px #FFF, 1341px 606px #FFF, 1456px 1446px #FFF, 1828px 1627px #FFF, 1897px 1178px #FFF, 1088px 1043px #FFF, 1513px 813px #FFF, 1354px 798px #FFF, 505px 1878px #FFF, 773px 648px #FFF, 1467px 1244px #FFF, 1871px 259px #FFF, 1921px 168px #FFF, 559px 684px #FFF, 1813px 109px #FFF, 581px 1726px #FFF, 106px 1918px #FFF, 772px 1289px #FFF, 1947px 826px #FFF, 1918px 962px #FFF, 1354px 1092px #FFF, 1094px 464px #FFF, 1381px 339px #FFF, 102px 1312px #FFF, 1604px 1359px #FFF, 322px 1863px #FFF, 1736px 353px #FFF, 1170px 624px #FFF, 792px 1482px #FFF, 1070px 629px #FFF, 1549px 1097px #FFF, 1293px 2000px #FFF, 1949px 1953px #FFF, 1896px 87px #FFF, 1389px 1889px #FFF, 1120px 1618px #FFF, 505px 7px #FFF, 106px 1012px #FFF, 107px 702px #FFF, 936px 846px #FFF, 1133px 1110px #FFF, 400px 1340px #FFF, 1153px 1906px #FFF, 1523px 1246px #FFF, 1791px 95px #FFF, 739px 1824px #FFF, 1533px 1663px #FFF, 850px 1431px #FFF, 18px 1408px #FFF, 1192px 1728px #FFF, 168px 1265px #FFF, 316px 565px #FFF, 642px 557px #FFF, 1502px 746px #FFF, 702px 1687px #FFF, 206px 103px #FFF, 1656px 430px #FFF, 727px 1836px #FFF, 1134px 360px #FFF, 1163px 1540px #FFF, 1955px 1569px #FFF, 753px 1260px #FFF, 1718px 804px #FFF, 1751px 1340px #FFF, 373px 1152px #FFF, 493px 856px #FFF, 871px 1106px #FFF, 119px 1207px #FFF, 276px 505px #FFF, 522px 1023px #FFF, 1768px 1826px #FFF, 1693px 1596px #FFF, 1728px 1129px #FFF, 1446px 782px #FFF, 692px 1257px #FFF, 544px 763px #FFF, 1647px 949px #FFF, 1060px 1739px #FFF, 1957px 1731px #FFF, 1048px 406px #FFF, 267px 1063px #FFF, 351px 530px #FFF, 596px 1251px #FFF, 397px 995px #FFF, 224px 133px #FFF, 1059px 1403px #FFF, 740px 1488px #FFF, 1002px 1501px #FFF, 1276px 1945px #FFF, 1700px 362px #FFF, 720px 1401px #FFF, 1976px 899px #FFF, 1898px 716px #FFF, 1826px 1712px #FFF, 8px 1629px #FFF, 1936px 1792px #FFF, 714px 1305px #FFF, 453px 344px #FFF, 1294px 1904px #FFF, 1865px 179px #FFF, 1906px 42px #FFF, 643px 1897px #FFF, 1810px 431px #FFF, 1631px 1001px #FFF, 946px 1948px #FFF, 1681px 912px #FFF, 860px 312px #FFF, 112px 286px #FFF, 43px 216px #FFF, 1570px 1686px #FFF, 1501px 1513px #FFF, 1663px 285px #FFF, 1950px 867px #FFF, 892px 98px #FFF, 1205px 412px #FFF, 95px 1868px #FFF, 161px 1210px #FFF, 1041px 520px #FFF, 123px 1054px #FFF, 1820px 1068px #FFF, 1330px 1367px #FFF, 1144px 252px #FFF, 1538px 766px #FFF, 658px 606px #FFF, 1886px 956px #FFF, 1502px 1062px #FFF, 438px 1697px #FFF, 176px 269px #FFF, 363px 1916px #FFF, 1567px 1711px #FFF, 1114px 909px #FFF, 1107px 1352px #FFF, 1604px 1087px #FFF, 339px 1343px #FFF, 92px 726px #FFF, 229px 1498px #FFF, 1245px 776px #FFF, 1342px 1722px #FFF, 688px 1269px #FFF, 1376px 914px #FFF, 978px 1239px #FFF, 1447px 62px #FFF, 1651px 1215px #FFF, 1690px 1762px #FFF, 1570px 575px #FFF, 1902px 373px #FFF, 1277px 1914px #FFF, 1479px 604px #FFF, 757px 188px #FFF, 994px 833px #FFF, 1903px 1312px #FFF, 99px 812px #FFF, 827px 1593px #FFF, 1391px 1879px #FFF, 1148px 254px #FFF, 1094px 1352px #FFF, 1632px 1917px #FFF, 963px 200px #FFF, 630px 1049px #FFF, 36px 201px #FFF, 1654px 593px #FFF, 461px 424px #FFF, 501px 1357px #FFF, 1839px 1302px #FFF, 1445px 714px #FFF, 1110px 159px #FFF, 533px 330px #FFF, 1842px 1927px #FFF, 62px 1917px #FFF, 836px 384px #FFF, 196px 615px #FFF, 1299px 600px #FFF, 1342px 75px #FFF, 1694px 1189px #FFF, 772px 671px #FFF, 932px 1256px #FFF, 648px 726px #FFF, 1179px 658px #FFF, 1386px 132px #FFF, 1012px 1055px #FFF, 1700px 211px #FFF, 1307px 122px #FFF, 864px 447px #FFF, 1595px 1680px #FFF, 522px 224px #FFF, 648px 1572px #FFF, 1463px 1189px #FFF, 748px 375px #FFF, 437px 561px #FFF, 1629px 1122px #FFF, 8px 1024px #FFF, 656px 572px #FFF, 1676px 268px #FFF, 1658px 316px #FFF, 417px 1272px #FFF, 309px 1802px #FFF, 1133px 109px #FFF, 1587px 1849px #FFF, 1826px 735px #FFF, 967px 665px #FFF, 98px 272px #FFF, 1710px 998px #FFF, 1447px 990px #FFF, 1424px 1992px #FFF, 1385px 1525px #FFF, 1790px 451px #FFF, 1508px 357px #FFF, 88px 1802px #FFF, 50px 500px #FFF, 1517px 266px #FFF, 845px 29px #FFF, 6px 1776px #FFF, 1554px 1985px #FFF, 159px 1067px #FFF, 1147px 720px #FFF, 1342px 483px #FFF, 1713px 1843px #FFF, 274px 733px #FFF, 259px 1815px #FFF, 1218px 1665px #FFF, 1300px 959px #FFF, 954px 1943px #FFF, 853px 699px #FFF, 1815px 765px #FFF, 42px 109px #FFF, 1471px 1742px #FFF, 196px 984px #FFF, 1781px 1621px #FFF, 1088px 1230px #FFF, 1726px 895px #FFF, 1432px 107px #FFF, 1440px 553px #FFF, 658px 1764px #FFF, 291px 445px #FFF, 1814px 941px #FFF, 1081px 613px #FFF, 635px 1836px #FFF, 613px 553px #FFF, 1384px 371px #FFF, 1452px 1235px #FFF, 34px 1027px #FFF, 303px 1077px #FFF, 1334px 83px #FFF, 1036px 49px #FFF, 1947px 330px #FFF, 851px 651px #FFF, 98px 624px #FFF, 1316px 103px #FFF, 667px 1565px #FFF, 1153px 1343px #FFF, 245px 459px #FFF, 671px 1801px #FFF, 1848px 103px #FFF, 558px 1170px #FFF, 1014px 360px #FFF, 1910px 1155px #FFF, 1073px 389px #FFF, 1274px 1458px #FFF, 963px 1151px #FFF, 1704px 50px #FFF, 1426px 50px #FFF, 190px 1893px #FFF, 1048px 876px #FFF, 1814px 616px #FFF, 113px 533px #FFF, 55px 1330px #FFF, 74px 1809px #FFF, 12px 887px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 987px 887px #fff, 465px 1395px #FFF, 1049px 1985px #FFF, 237px 909px #FFF, 1305px 123px #FFF, 791px 283px #FFF, 1789px 1745px #FFF, 1594px 935px #FFF, 486px 1267px #FFF, 287px 506px #FFF, 957px 126px #FFF, 48px 1332px #FFF, 755px 1749px #FFF, 942px 507px #FFF, 132px 1345px #FFF, 841px 1492px #FFF, 1864px 429px #FFF, 1076px 1064px #FFF, 1638px 1666px #FFF, 200px 1676px #FFF, 795px 1886px #FFF, 1234px 651px #FFF, 1518px 663px #FFF, 1318px 1895px #FFF, 71px 166px #FFF, 942px 1087px #FFF, 706px 594px #FFF, 299px 1867px #FFF, 1793px 1074px #FFF, 1719px 932px #FFF, 682px 1292px #FFF, 502px 951px #FFF, 1706px 782px #FFF, 1381px 251px #FFF, 998px 1374px #FFF, 1006px 194px #FFF, 730px 381px #FFF, 442px 1978px #FFF, 420px 968px #FFF, 1609px 1563px #FFF, 458px 1180px #FFF, 1735px 1182px #FFF, 102px 304px #FFF, 486px 1602px #FFF, 645px 1618px #FFF, 1937px 1675px #FFF, 1671px 617px #FFF, 489px 1640px #FFF, 1054px 1643px #FFF, 1963px 1793px #FFF, 1693px 905px #FFF, 1050px 936px #FFF, 408px 1505px #FFF, 1992px 216px #FFF, 567px 514px #FFF, 136px 1381px #FFF, 906px 1808px #FFF, 1200px 1449px #FFF, 1642px 1320px #FFF, 1706px 1035px #FFF, 1916px 1283px #FFF, 1909px 1752px #FFF, 993px 1502px #FFF, 432px 1819px #FFF, 1875px 1936px #FFF, 1595px 792px #FFF, 728px 1489px #FFF, 1407px 1571px #FFF, 900px 1662px #FFF, 901px 1269px #FFF, 688px 1838px #FFF, 1720px 534px #FFF, 915px 1181px #FFF, 1603px 182px #FFF, 1998px 106px #FFF, 1841px 161px #FFF, 1070px 958px #FFF, 813px 1973px #FFF, 1697px 1339px #FFF, 740px 881px #FFF, 578px 1017px #FFF, 252px 1316px #FFF, 978px 842px #FFF, 1655px 176px #FFF, 1885px 789px #FFF, 1402px 539px #FFF, 826px 1202px #FFF, 1599px 787px #FFF, 1373px 186px #FFF, 73px 840px #FFF, 1754px 735px #FFF, 1557px 1256px #FFF, 1411px 414px #FFF, 113px 190px #FFF, 1410px 1191px #FFF, 419px 1455px #FFF, 1797px 1720px #FFF, 1254px 632px #FFF, 1914px 840px #FFF, 1345px 1260px #FFF, 804px 417px #FFF, 163px 1565px #FFF, 1652px 1967px #FFF, 1983px 406px #FFF, 217px 857px #FFF, 235px 615px #FFF, 1329px 1208px #FFF, 811px 1260px #FFF, 1057px 254px #FFF, 1831px 1562px #FFF, 749px 1023px #FFF, 64px 1571px #FFF, 504px 1513px #FFF, 1373px 1630px #FFF, 1072px 666px #FFF, 37px 295px #FFF, 189px 1298px #FFF, 118px 677px #FFF, 1866px 1015px #FFF, 1313px 1591px #FFF, 517px 749px #FFF, 1541px 1030px #FFF, 530px 1339px #FFF, 1458px 1405px #FFF, 40px 1576px #FFF, 1014px 772px #FFF, 1698px 971px #FFF, 407px 914px #FFF, 1539px 1259px #FFF, 1197px 511px #FFF, 82px 55px #FFF, 1464px 1813px #FFF, 1362px 1376px #FFF, 271px 1962px #FFF, 196px 1803px #FFF, 645px 427px #FFF, 689px 1607px #FFF, 1840px 1181px #FFF, 261px 820px #FFF, 941px 1760px #FFF, 808px 414px #FFF, 236px 1481px #FFF, 410px 112px #FFF, 1269px 833px #FFF, 1205px 393px #FFF, 1394px 1518px #FFF, 1995px 318px #FFF, 1872px 1694px #FFF, 1062px 1817px #FFF, 799px 1859px #FFF, 679px 1171px #FFF, 1652px 286px #FFF, 646px 1287px #FFF, 1347px 877px #FFF, 1767px 273px #FFF, 1839px 1241px #FFF, 36px 1615px #FFF, 1268px 259px #FFF, 653px 748px #FFF, 399px 1028px #FFF, 692px 939px #FFF, 306px 83px #FFF, 1548px 693px #FFF, 968px 1334px #FFF, 826px 1864px #FFF, 1118px 1150px #FFF, 376px 318px #FFF, 1832px 737px #FFF, 236px 580px #FFF, 386px 286px #FFF, 1583px 1510px #FFF, 1502px 1037px #FFF, 1078px 637px #FFF, 1380px 203px #FFF, 941px 1909px #FFF, 1513px 1299px #FFF, 940px 1602px #FFF, 190px 1103px #FFF, 644px 1316px #FFF, 1679px 130px #FFF, 1558px 1867px #FFF, 1377px 1121px #FFF, 1379px 776px #FFF, 616px 1023px #FFF, 263px 6px #FFF, 1930px 770px #FFF, 227px 1912px #FFF, 1591px 489px #FFF, 1588px 1057px #FFF, 1186px 629px #FFF, 1694px 1245px #FFF, 215px 941px #FFF, 1738px 701px #FFF, 433px 1713px #FFF, 1616px 366px #FFF, 793px 361px #FFF, 62px 736px #FFF, 1832px 127px #FFF, 481px 598px #FFF, 1603px 99px #FFF;
  animation: animateStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 987px 887px #fff, 465px 1395px #FFF, 1049px 1985px #FFF, 237px 909px #FFF, 1305px 123px #FFF, 791px 283px #FFF, 1789px 1745px #FFF, 1594px 935px #FFF, 486px 1267px #FFF, 287px 506px #FFF, 957px 126px #FFF, 48px 1332px #FFF, 755px 1749px #FFF, 942px 507px #FFF, 132px 1345px #FFF, 841px 1492px #FFF, 1864px 429px #FFF, 1076px 1064px #FFF, 1638px 1666px #FFF, 200px 1676px #FFF, 795px 1886px #FFF, 1234px 651px #FFF, 1518px 663px #FFF, 1318px 1895px #FFF, 71px 166px #FFF, 942px 1087px #FFF, 706px 594px #FFF, 299px 1867px #FFF, 1793px 1074px #FFF, 1719px 932px #FFF, 682px 1292px #FFF, 502px 951px #FFF, 1706px 782px #FFF, 1381px 251px #FFF, 998px 1374px #FFF, 1006px 194px #FFF, 730px 381px #FFF, 442px 1978px #FFF, 420px 968px #FFF, 1609px 1563px #FFF, 458px 1180px #FFF, 1735px 1182px #FFF, 102px 304px #FFF, 486px 1602px #FFF, 645px 1618px #FFF, 1937px 1675px #FFF, 1671px 617px #FFF, 489px 1640px #FFF, 1054px 1643px #FFF, 1963px 1793px #FFF, 1693px 905px #FFF, 1050px 936px #FFF, 408px 1505px #FFF, 1992px 216px #FFF, 567px 514px #FFF, 136px 1381px #FFF, 906px 1808px #FFF, 1200px 1449px #FFF, 1642px 1320px #FFF, 1706px 1035px #FFF, 1916px 1283px #FFF, 1909px 1752px #FFF, 993px 1502px #FFF, 432px 1819px #FFF, 1875px 1936px #FFF, 1595px 792px #FFF, 728px 1489px #FFF, 1407px 1571px #FFF, 900px 1662px #FFF, 901px 1269px #FFF, 688px 1838px #FFF, 1720px 534px #FFF, 915px 1181px #FFF, 1603px 182px #FFF, 1998px 106px #FFF, 1841px 161px #FFF, 1070px 958px #FFF, 813px 1973px #FFF, 1697px 1339px #FFF, 740px 881px #FFF, 578px 1017px #FFF, 252px 1316px #FFF, 978px 842px #FFF, 1655px 176px #FFF, 1885px 789px #FFF, 1402px 539px #FFF, 826px 1202px #FFF, 1599px 787px #FFF, 1373px 186px #FFF, 73px 840px #FFF, 1754px 735px #FFF, 1557px 1256px #FFF, 1411px 414px #FFF, 113px 190px #FFF, 1410px 1191px #FFF, 419px 1455px #FFF, 1797px 1720px #FFF, 1254px 632px #FFF, 1914px 840px #FFF, 1345px 1260px #FFF, 804px 417px #FFF, 163px 1565px #FFF, 1652px 1967px #FFF, 1983px 406px #FFF, 217px 857px #FFF, 235px 615px #FFF, 1329px 1208px #FFF, 811px 1260px #FFF, 1057px 254px #FFF, 1831px 1562px #FFF, 749px 1023px #FFF, 64px 1571px #FFF, 504px 1513px #FFF, 1373px 1630px #FFF, 1072px 666px #FFF, 37px 295px #FFF, 189px 1298px #FFF, 118px 677px #FFF, 1866px 1015px #FFF, 1313px 1591px #FFF, 517px 749px #FFF, 1541px 1030px #FFF, 530px 1339px #FFF, 1458px 1405px #FFF, 40px 1576px #FFF, 1014px 772px #FFF, 1698px 971px #FFF, 407px 914px #FFF, 1539px 1259px #FFF, 1197px 511px #FFF, 82px 55px #FFF, 1464px 1813px #FFF, 1362px 1376px #FFF, 271px 1962px #FFF, 196px 1803px #FFF, 645px 427px #FFF, 689px 1607px #FFF, 1840px 1181px #FFF, 261px 820px #FFF, 941px 1760px #FFF, 808px 414px #FFF, 236px 1481px #FFF, 410px 112px #FFF, 1269px 833px #FFF, 1205px 393px #FFF, 1394px 1518px #FFF, 1995px 318px #FFF, 1872px 1694px #FFF, 1062px 1817px #FFF, 799px 1859px #FFF, 679px 1171px #FFF, 1652px 286px #FFF, 646px 1287px #FFF, 1347px 877px #FFF, 1767px 273px #FFF, 1839px 1241px #FFF, 36px 1615px #FFF, 1268px 259px #FFF, 653px 748px #FFF, 399px 1028px #FFF, 692px 939px #FFF, 306px 83px #FFF, 1548px 693px #FFF, 968px 1334px #FFF, 826px 1864px #FFF, 1118px 1150px #FFF, 376px 318px #FFF, 1832px 737px #FFF, 236px 580px #FFF, 386px 286px #FFF, 1583px 1510px #FFF, 1502px 1037px #FFF, 1078px 637px #FFF, 1380px 203px #FFF, 941px 1909px #FFF, 1513px 1299px #FFF, 940px 1602px #FFF, 190px 1103px #FFF, 644px 1316px #FFF, 1679px 130px #FFF, 1558px 1867px #FFF, 1377px 1121px #FFF, 1379px 776px #FFF, 616px 1023px #FFF, 263px 6px #FFF, 1930px 770px #FFF, 227px 1912px #FFF, 1591px 489px #FFF, 1588px 1057px #FFF, 1186px 629px #FFF, 1694px 1245px #FFF, 215px 941px #FFF, 1738px 701px #FFF, 433px 1713px #FFF, 1616px 366px #FFF, 793px 361px #FFF, 62px 736px #FFF, 1832px 127px #FFF, 481px 598px #FFF, 1603px 99px #FFF;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 947px 1979px #fff, 882px 1663px #FFF, 713px 1845px #FFF, 1083px 1256px #FFF, 1172px 475px #FFF, 1033px 1094px #FFF, 1276px 1460px #FFF, 1186px 201px #FFF, 1012px 834px #FFF, 1873px 821px #FFF, 838px 778px #FFF, 1492px 96px #FFF, 1220px 605px #FFF, 1680px 1911px #FFF, 1681px 444px #FFF, 581px 1222px #FFF, 1204px 496px #FFF, 963px 352px #FFF, 593px 1171px #FFF, 1409px 316px #FFF, 1181px 1614px #FFF, 1881px 956px #FFF, 521px 1907px #FFF, 1731px 76px #FFF, 859px 1483px #FFF, 1250px 1394px #FFF, 1560px 580px #FFF, 155px 1135px #FFF, 1066px 1768px #FFF, 444px 1750px #FFF, 955px 1920px #FFF, 1377px 802px #FFF, 406px 1114px #FFF, 169px 508px #FFF, 1174px 1221px #FFF, 463px 1549px #FFF, 946px 601px #FFF, 1376px 437px #FFF, 1898px 1009px #FFF, 730px 465px #FFF, 1317px 350px #FFF, 1012px 949px #FFF, 479px 418px #FFF, 844px 1505px #FFF, 239px 1426px #FFF, 833px 571px #FFF, 249px 365px #FFF, 1209px 1925px #FFF, 1876px 36px #FFF, 386px 1985px #FFF, 483px 1883px #FFF, 194px 957px #FFF, 191px 1686px #FFF, 1864px 1316px #FFF, 292px 357px #FFF, 1191px 1053px #FFF, 1230px 1841px #FFF, 1025px 134px #FFF, 481px 411px #FFF, 1852px 1163px #FFF, 1221px 749px #FFF, 388px 1488px #FFF, 1313px 270px #FFF, 95px 1801px #FFF, 1062px 299px #FFF, 891px 438px #FFF, 698px 186px #FFF, 265px 1527px #FFF, 1558px 1446px #FFF, 1898px 940px #FFF, 1475px 1184px #FFF, 700px 472px #FFF, 631px 1170px #FFF, 230px 1295px #FFF, 277px 1130px #FFF, 596px 590px #FFF, 1724px 1626px #FFF, 1755px 1536px #FFF, 1485px 408px #FFF, 1727px 902px #FFF, 688px 1341px #FFF, 1334px 68px #FFF, 1040px 1213px #FFF, 1277px 1688px #FFF, 680px 1268px #FFF, 554px 241px #FFF, 1185px 1042px #FFF, 838px 348px #FFF, 296px 980px #FFF, 1090px 8px #FFF, 1363px 806px #FFF, 311px 117px #FFF, 187px 1421px #FFF, 1772px 1699px #FFF, 1797px 883px #FFF, 70px 1696px #FFF, 1318px 426px #FFF, 1642px 315px #FFF, 619px 1617px #FFF, 132px 501px #FFF;
  animation: animateStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 947px 1979px #fff, 882px 1663px #FFF, 713px 1845px #FFF, 1083px 1256px #FFF, 1172px 475px #FFF, 1033px 1094px #FFF, 1276px 1460px #FFF, 1186px 201px #FFF, 1012px 834px #FFF, 1873px 821px #FFF, 838px 778px #FFF, 1492px 96px #FFF, 1220px 605px #FFF, 1680px 1911px #FFF, 1681px 444px #FFF, 581px 1222px #FFF, 1204px 496px #FFF, 963px 352px #FFF, 593px 1171px #FFF, 1409px 316px #FFF, 1181px 1614px #FFF, 1881px 956px #FFF, 521px 1907px #FFF, 1731px 76px #FFF, 859px 1483px #FFF, 1250px 1394px #FFF, 1560px 580px #FFF, 155px 1135px #FFF, 1066px 1768px #FFF, 444px 1750px #FFF, 955px 1920px #FFF, 1377px 802px #FFF, 406px 1114px #FFF, 169px 508px #FFF, 1174px 1221px #FFF, 463px 1549px #FFF, 946px 601px #FFF, 1376px 437px #FFF, 1898px 1009px #FFF, 730px 465px #FFF, 1317px 350px #FFF, 1012px 949px #FFF, 479px 418px #FFF, 844px 1505px #FFF, 239px 1426px #FFF, 833px 571px #FFF, 249px 365px #FFF, 1209px 1925px #FFF, 1876px 36px #FFF, 386px 1985px #FFF, 483px 1883px #FFF, 194px 957px #FFF, 191px 1686px #FFF, 1864px 1316px #FFF, 292px 357px #FFF, 1191px 1053px #FFF, 1230px 1841px #FFF, 1025px 134px #FFF, 481px 411px #FFF, 1852px 1163px #FFF, 1221px 749px #FFF, 388px 1488px #FFF, 1313px 270px #FFF, 95px 1801px #FFF, 1062px 299px #FFF, 891px 438px #FFF, 698px 186px #FFF, 265px 1527px #FFF, 1558px 1446px #FFF, 1898px 940px #FFF, 1475px 1184px #FFF, 700px 472px #FFF, 631px 1170px #FFF, 230px 1295px #FFF, 277px 1130px #FFF, 596px 590px #FFF, 1724px 1626px #FFF, 1755px 1536px #FFF, 1485px 408px #FFF, 1727px 902px #FFF, 688px 1341px #FFF, 1334px 68px #FFF, 1040px 1213px #FFF, 1277px 1688px #FFF, 680px 1268px #FFF, 554px 241px #FFF, 1185px 1042px #FFF, 838px 348px #FFF, 296px 980px #FFF, 1090px 8px #FFF, 1363px 806px #FFF, 311px 117px #FFF, 187px 1421px #FFF, 1772px 1699px #FFF, 1797px 883px #FFF, 70px 1696px #FFF, 1318px 426px #FFF, 1642px 315px #FFF, 619px 1617px #FFF, 132px 501px #FFF;
}

.title {
  min-height: 100dvh;
  position: relative;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 800px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
  color: #fff;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circle {
  z-index: 10;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  animation: circle 1s ease-in-out;
  animation-fill-mode: forwards;
}

.line {
  position: absolute;
  z-index: 10;
  width: 38%;
  height: 4px;
  top: 198px;
  background: #fff;
  transform: scaleX(0);
}
.line.left {
  left: 100px;
  transform-origin: 100% 50%;
  animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
}
.line.right {
  right: 100px;
  transform-origin: 0% 50%;
  animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
}

.bracket {
  position: absolute;
  z-index: 10;
  height: 150px;
  width: 4px;
  top: 135px;
  background: #fff;
  animation: bracket 0.4s ease-out 1.7s;
  animation-fill-mode: both;
}
.bracket:before, .bracket:after {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 4px;
  background: #fff;
}
.bracket.left {
  left: 50px;
}
.bracket.left:before {
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.left:after {
  bottom: 0;
  left: 0;
  transform-origin: 0% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.right {
  right: 50px;
}
.bracket.right:before {
  top: 0;
  right: 0;
  transform-origin: 100% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}
.bracket.right:after {
  bottom: 0;
  right: 0;
  transform-origin: 100% 50%;
  animation: bracket-line 0.2s ease-out 2.1s;
  animation-fill-mode: both;
}

.big {
  position: absolute;
  z-index: 5;
  top: 173px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
  line-height: 50px;
  text-transform: uppercase;
}

.hide {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 50px;
  left: 0;
  background-color: #121720;
  animation: reveal 0.4s ease-out 1.7s;
  animation-fill-mode: both;
}
.hide.top {
  bottom: 49%;
  transform-origin: 50% 0%;
}
.hide.bottom {
  top: 49%;
  transform-origin: 50% 100%;
}

.small {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  left: 0;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}
.small.top {
  top: 130px;
  animation: small-top 0.5s ease-out 2.2s;
  animation-fill-mode: both;
}
.small.bottom {
  bottom: 130px;
  animation: small-bottom 0.5s ease-out 2.2s;
  animation-fill-mode: both;
}

.persons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 120%);
}
.persons img {
  width: 200px;
  height: 400px;
}

.tools-used {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
  background: radial-gradient(ellipse at bottom, rgb(9, 10, 15) 100%);
  overflow: hidden;
}

.tools-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tools-used-wrapper {
  padding: 4rem;
  width: 100%;
  height: 100dvh;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.tools-used-wrapper > *:nth-child(odd) {
  justify-self: start;
  width: 65%;
  border-radius: 0px 200px 200px 0px;
  transition: width 0.3s ease-in-out; /* add transition for smooth animation */
}
.tools-used-wrapper > *:nth-child(odd):hover {
  width: 75%; /* extend width by 10% on hover */
}
.tools-used-wrapper > *:nth-child(even) {
  justify-self: end;
  width: 65%;
  border-radius: 200px 0px 0px 200px;
  transition: width 0.3s; /* add transition effect */
}
.tools-used-wrapper > *:nth-child(even):hover {
  width: 75%; /* extend to the left 10% on hover */
}
.tools-used-wrapper picture {
  background: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added for span positioning */
}
.tools-used-wrapper img {
  max-width: 100px;
  max-height: 100px;
}

.icon-wrapper span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #6b54ef;
  background-color: rgba(255, 255, 255, 0.8); /* Background for better visibility */
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-wrapper:hover span {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */